[2018-06-28 14:09] DNF-SaS opened #1 "Update code for Blazor's new IJSInterop abstraction"
Blazor.registerFunction() is no longer needed, because the new IJSRuntime.InvokeAsync() invokes the (specified) method on the current window-object.

[2018-06-29 11:19] Tewr commented on #1
The only `async` method I have is [unmarshalled](https://github.com/Tewr/BlazorFileReader/blob/b749b5ddf8ee40c8d621012a5ca60fb29946c557/src/FileReaderComponent/FileReaderJsInterop.cs#L59). Looks like `RegisteredFunction` will be phased out anyway in 0.5.0 (it's no longer in the repo?), so the interop has to be changed for sure. Can't really see at the current state of affairs how Unmarshalled call

[2018-07-02 06:34] DNF-SaS commented on #1
I've extended the FileReaderJsInterop by two functions for mocking the old functionality of JSInterop.
It's oviously working on MonoRuntime only, but I would suggest that this is okay for the moment.
[code]
Additionally, the TypeScript-Code should be adapted so that the code from Blazor.registerFunction() is moved to some function residing below window.(namespace).

[2018-07-02 07:07] Tewr commented on #1
Yes, I did something like this yesterday, think its the way to go for this. I'll have to pass all sync methods to async as well, to avoid using the special methods, and implement the js/ts as a class instance.
As you are showing a bit of interest, I [pushed ](https://github.com/Tewr/BlazorFileReader/tree/0.5.0-p1) a half-built branch which depends on 0.5.0

[2018-07-02 08:56] DNF-SaS commented on #1
Pulled the 0.5-Branch; it's pretty work in progress, so I'll wait in order to prevent merge conflicts.

[2018-07-02 20:21] Tewr commented on #1
I've got it fully working now. Had to change most of the API but in any case I like it better now. There is some weird behaviour when calling back to .NET from js, I was unable to figure out what it was. I didn't manage to call back without more than one parameter (first one was lost, not the second one?). Might be a bug in blazor, might have been me doing something goofy. In any case, current sol

[2018-07-02 20:21] #1 closed, assigned to nobody

[2018-07-03 06:27] DNF-SaS commented on #1
Great!
You copied your changes from 0.5.0-p1 back to the master-branch? (no merge?)

[2018-07-03 06:49] Tewr commented on #1
:) Well, the intention was a merge, but didnt really end up that way, had some conflict gore when branching out in the middle to save 0.4.0. That'll teach me not to merge late at night

[2018-07-03 06:55] DNF-SaS commented on #1
I suppose, every dev has some bad memories about git and merging...  ;-)

[2018-07-13 21:26] Tewr opened #3 "End to end tests"
Some basic end to end tests as in blazor would save a bunch of time as debugging is a pain.

[2018-07-20 12:37] DNF-SaS opened #4 "Implement IExtendedJSRuntime.UntrackObjectRef()"

[2018-07-20 14:29] DNF-SaS opened #5 ""Blazor.platform is undefined" from build 10342 on"
I suppose, this is the build where initial debugging support has been implemented.
Error is WASM: [Microsoft.JSInterop.JSException] Blazor.platform is undefined

[2018-07-26 12:05] #5 closed, assigned to Tewr

[2018-07-26 12:06] Tewr commented on #5
I never got this problem, on the other hand I never used that specific build on the way up tp 0.5.0

[2018-07-26 12:06] Tewr commented on #4
fixed

[2018-07-26 12:06] #4 closed, assigned to Tewr

[2018-10-03 08:39] Tewr opened #6 "Update to 0.6.0"

[2018-10-09 14:43] aloneguid commented on #6
please!

[2018-10-10 04:50] Tewr commented on #6
yea I already did this like 10 days ago but I'm unable to build the solution with 0.6.0 referenced. getting the same problem with this pr. I'm guessing you managed to build? which sdk are you using?

[2018-10-10 07:43] aloneguid commented on #6
@Tewr it builds under 2.1 SDK just fine. The problem was that demo app references nuget package which is not in nuget when you increase package version, so it has to reference the project instead. I've made the fix and PR now builds on AppVeyor as you can see.

[2018-10-11 15:11] #6 closed, assigned to Tewr

[2018-10-11 15:13] Tewr commented on #6
My blazor setup is broken, the mono linker wont work for EPPlus in the demo project. thats why it took so long. But if Appveyor can build it (and link it!), there is a way :P Ill just have to reinstall vs & the sdk I guess

[2018-11-20 01:11] EdCharbeneau opened #8 "Usage IRL"
Hi, I wanted to leave an example of this library being used in a demo of a real world scenario.

I shared this on my Twitch TV Show: [Blazor StateHasChanged](https://twitch.tv/edcharbeneau)
https://youtu.be/-IuZQeZ10Uw

Code:
https://github.com/EdCharbeneau/BlazorStateCognitive/blob/master/BlazorStateCognitive.Client/Pages/FetchData.cshtml

[2018-11-20 07:02] Tewr opened #9 "Update to 0.7.0"

[2018-11-20 07:59] #9 closed, assigned to Tewr

[2018-11-20 08:04] Tewr commented on #8
Nice, thanks. v0.7.0 of blazor broke most of my 'fun' demos due to optimizations in the build process. I guess uploading an image into dom could be a nice and simple thing to include in the demo project.

[2018-11-20 13:19] EdCharbeneau commented on #8
Absolutely, it was quick validation to see if I was reading the file correctly and didn't corrupt the image in some way.

[2019-01-09 20:04] darren-zdc opened #11 ""Requires MonoWebAssemblyJSRuntime as the JSRuntime""
I got an error when run it in server side blazor.

[System.PlatformNotSupportedException] Requires MonoWebAssemblyJSRuntime as the JSRuntime

[2019-01-09 20:08] darren-zdc commented on #11
Successfully printout the fileInfo
[code]
Exception thrown when execute
`while ((count = await fs.ReadAsync(buffer, 0, buffer.Length)) != 0)`

[2019-01-10 10:26] Tewr commented on #11
Hello, thank you for your input and for taking the time to create an issue.

The exception you are seeing is defined [here](https://github.com/Tewr/BlazorFileReader/blob/6a85295d2a2c3c933d2dafa40f503592e5800813/src/Blazor.FileReader/ExtendedJsRuntime.cs#L27) and is fully expected behavior: this is a client-side library which uses non-marshalled invoke calls to read the file using the browser js ru

[2019-01-10 10:51] Tewr commented on #11
OK so I've read up a bit on server-side Blazor and it may not be a complete rewrite. It's more a matter of providing a parallel pipeline with marshalled calls. Significantly slower of course, but probably not much compared to the time it takes to transfer the serialized stream to the server (client-side this is all done in memory). Overall, probably a lot faster if something is to be done with the

[2019-01-24 05:31] Tewr commented on #11
0.7.1 (on nuget now) has server-side support.

[2019-01-24 05:31] #11 closed, assigned to Tewr

[2019-02-01 23:22] tmarkovski commented on #3
Depends on https://github.com/aspnet/AspNetCore/issues/5458

Great work btw, amazing component!

[2019-02-05 23:11] nickbeau opened #13 "Blazor 0.8.0 breaks FileReader"
Hi All

Should be a simple referencing fix, but Blazor 0.8.0 has moved the ElementRef to Microsoft.AspNetCore.Components from Microsoft.AspNetCore.Blazor

[2019-02-08 12:29] Tewr commented on #13
Thank you for the heads up! I had a quick look at lunch and the first attempt to upgrade the project failed miserably, so I'll go ahead and classify this as a "tricky" referencing fix instead... 😄

[2019-02-10 04:05] IvanJosipovic commented on #13
I have the core project fixed in my repo, see commit here https://github.com/IvanJosipovic/BlazorFileReader/commit/05ba8001cc8bb19384f105722f20f82c74faf2de

i have not fixed the Demo projects

[2019-02-10 15:07] Tewr commented on #13
Thank you, I made a working build yesterday (Tewr@6385c15de69e0b27a4e4a8da3db90846ab0e5425) but I have runtime issues: `Could not find type "MonoWebAssemblyJSRuntime" in namespace "Mono.WebAssembly.Interop" in assembly "Mono.WebAssembly.Interop"`. I'm not sure what's missing, but smells like the linker has been removing too much. Which is weird, cause I'm pretty sure I managed to disable it (using

[2019-02-10 16:30] Tewr commented on #13
Ok so I've managed to get this working, but it looks like I will have rearchitecture this a bit: the component can no longer reference `MonoWebAssemblyJSRuntime` directly. It makes sense for components which are x-plat not to know about platform specific classes, and apparently 0.8.0 this is business: no co-habitation of these dependencies is possible. I'll just have to wrap it up in an interface

[2019-02-10 21:21] nickbeau commented on #13
Thanks everyone. We really appreciate your work :)

[2019-02-11 19:03] Tewr commented on #13
I have pushed a working version to branch. Ill just have to test server-side blazor before pushing the package to nuget.

In the meantime, the working source, and some new setup instructions for WASM are [here](/Tewr/BlazorFileReader/tree/release/0.8.0-preview).

Setup is a bit messy for now, I'll have to think about how to make it prettier. I benchmarked about 30% slower on WASM without unmarshal

[2019-02-12 20:42] Tewr commented on #13
I've published a [prerelease version](https://www.nuget.org/packages/Tewr.Blazor.FileReader/0.8.0-preview-120219) on nuget. I'ts working well with Wasm, but I still haven't figured out server-side blazor. I'm going to open an issue at the asp.net repo and see if they can help me out. I pused a minimal repro project to [Tewr/blazor0.8.0p1bugrepro](/Tewr/blazor0.8.0p1bugrepro) if someone is interest

[2019-02-12 21:20] Tewr commented on #13
Turns out that someone already posted the bug. So at least I'm not crazy. Apparently static content serving from blazorlib is a feature that no longer exists - "a known limitation with the Razor Components template in Preview 2" . [This bug](/aspnet/AspNetCore/issues/7300) is what I'm experiencing, and like it says it's being tracked in issue aspnet/AspNetCore/issues/6349

[2019-02-15 11:55] springy76 commented on #13
~~Is there a quick workaround for this problem (copying and referencing the .js file by hand) or will it not work all the way with server side razor components?~~

I just took/copied FileReaderComponent.js from 0.8 branch into wwwroot of server project and referenced it in index.html **after** `<script src="_framework/components.server.js"></script>` -- seems to work properly (once I had a memory

[2019-02-15 13:13] Tewr commented on #13
@springy76 thank you for your idea and comments. I ~~might~~ put this in the readme for 0.8.0.

Your solution could possibly be automated using a powershell script in the nuget package, but I'll wait and see a bit what the blazor team comes up with, probably not worth the investment at the moment (I'm not sure about how I could distingush WASM from server-side at nuget-time, as there is no WASM pl

[2019-02-18 13:43] Tewr opened #14 "Fix appveyor build"
Ideas that could fix the build
* new build on VS2019 ( https://github.com/appveyor/ci/issues/2834 )
* eventually add global.json to pin Core 3 preview SDK on branch 0.8.0

[2019-03-12 00:50] IvanJosipovic opened #15 "Blazor 0.9.0 support"
https://devblogs.microsoft.com/aspnet/blazor-0-9-0-experimental-release-now-available/

To upgrade a Blazor 0.8.0 project to 0.9.0:

    Update the Blazor packages and .NET CLI tool references to 0.9.0-preview3-19154-02.
    Update the remaining Microsoft.AspNetCore.* packages to 3.0.0-preview3-19153-02.
    Remove any usage of JSRuntime.Current and instead use dependency injection to get the curr

[2019-03-13 21:01] #15 closed, assigned to Tewr

[2019-03-13 21:13] Tewr opened #18 "Easier setup for WASM"
WASM Setup currently requires some clunky copy-paste implementation of an obscure plumbing interface. Could be fixed by providing another micro-nuget-package.

[2019-03-13 21:16] Tewr opened #19 "Manual inclusion of Js for interop needed"
Currently (since 0.8.0 in server-side, for both projec types in 0.9.0), the js interop file must be added manually on the index page.

Apparently static content serving from blazorlib is a feature that no longer exists - "a known limitation with the Razor Components template in Preview 2" . [This bug](/aspnet/AspNetCore/issues/7300) is what I'm experiencing, and like it says it's being tracked in

[2019-03-13 21:18] Tewr commented on #13
well this is ancient history now, remaining issues tracked in #18 and #19

[2019-03-13 21:18] #13 closed, assigned to Tewr

[2019-03-15 06:38] #18 closed, assigned to Tewr

[2019-03-15 17:12] Tewr commented on #14
Changed to VS2019 + installed sdk 3 preview + global.json + dotnetbuild instead of msbuild

[2019-03-15 17:12] #14 closed, assigned to nobody

[2019-03-21 11:20] christiandersendk commented on #15
This is properly a stupid question, but how do i detect the usage of JSRuntime.Current and how do i remove it? To follow these instructions: Remove any usage of JSRuntime.Current and instead use dependency injection to get the current IJSRuntime instance and pass it through to where it is needed.

[2019-03-21 13:40] Tewr commented on #15
@christiandersendk : The instructions in this issue's top post was copied by @IvanJosipovic from the general upgrade guide (linked in his post). They are the same for any project which were created before 0.9.0.

Thus, as this project has been upgraded, version 0.9.0-preview-13032019 of BlazorFileReader no longer contains any references to JSRuntime.Current. To use it, just follow the instructions

[2019-04-22 14:02] Tewr opened #22 "Upgrade to Core 3.0 preview4"

[2019-04-22 14:04] Tewr commented on #22
Guides: https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-2.2&tabs=visual-studio and https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-core-3-0-preview-4/

Work already started in #21

[2019-04-24 15:55] Tewr opened #24 "Server-side projects has a max buffer-size of 2895 bytes"
Since 3.0.0 preview 4, Server-side blazor Json Serialization fails with a not very descriptive exception if the signalR message is too large (over 2895), and when set lower, sporadically:

after this function call: https://github.com/Tewr/BlazorFileReader/blob/5a733702d9920e2760245b14f3675b67afd4c192/src/Blazor.FileReader/content/FileReaderComponent.ts#L167

which calls
https://github.com/Tewr/Bla

[2019-04-24 16:47] Tewr opened #25 "Server-side Blazor not working on microsoft edge"
Server-side Blazor is not working fully on Microsoft Edge.
What exactly is not working needs some further investigation. Looks like the read callback. Might be related to #24 .

[2019-04-24 18:59] Tewr commented on #22
Ok for now

[2019-04-24 18:59] #22 closed, assigned to Tewr

[2019-04-24 23:07] MyNameIsDonovan commented on #24
This was working fine before the new preview :(
Looks like other people are running into it as well
https://github.com/aspnet/AspNetCore/issues/9570

[2019-04-25 07:10] Tewr commented on #24
Thank you for the link! The "Sporadical" part is most likely the framework metadata in the signalr message which seems to have a slightly different size for each message. I'm going to update the server-side example to use 2000 as default chunk size to be on the safe side, for now. Not very nice though, I hope they come up with a fix for next release.

[2019-04-25 17:38] MyNameIsDonovan commented on #24
Yeah it seems the metadata can vary, even for the same image.
Its funny because it also seems to vary browser to browser. On edge, I can only upload super small images 3-4kb, and that works maybe 50% of the time. I can get larger files to work with smaller chunk sizes on chrome to work about 70% of the time.

[2019-04-26 06:08] tmayonez commented on #24
How do you implement  chunking? Is there any signalR setting for this?

[2019-04-26 06:33] Tewr commented on #24
@tmayonez: No, this is not signalR. I am just limiting the size of an interop callback. The actual chunking is being done here: https://github.com/Tewr/BlazorFileReader/blob/5a733702d9920e2760245b14f3675b67afd4c192/src/Blazor.FileReader/content/FileReaderComponent.ts#L143

The method, `ReadFileMarshalledAsync`, is only used by Server-side blazor projects. It _could_ be used by client-side projects

[2019-04-26 06:48] Tewr opened #29 "Build improvements"
The build experience should be improved, as theres a few manual steps involved with the current state of things

* Minified javascript option
* DRY experience for interop reference (.NET first?). Assembly name, method calls.

A gulp script could be used to achieve this.

[2019-04-26 06:51] Tewr opened #30 "Improved error handling"
Some of the recent framework issues have shown that the error management could be improved.
* callbacks should be changed from void to promises to bubble exceptions happening in the framework
* js exceptions could be returned to .NET with full call stack, just not the message

[2019-04-26 16:28] #30 closed, assigned to Tewr

[2019-04-26 23:29] pfeurean commented on #24
does this issue also explain why the webserver process exits (kestrel/iisexpress) once a file is selected. when running in wasm mode, the app keeps responding correctly but the server is just dead from there on.

[2019-04-29 06:30] Tewr commented on #24
I'm not sure. Please try the latest release as the improved error management in #30 should make exceptions bubble up correctly in server-side projects. In any case, the issue described in this ticket is a server-side only problem, I have not seen it in WASM.

[2019-05-01 14:29] Tewr commented on #25
The error is "Unable to get property 'split' of undefined or null reference". Apparently, When the contents are empty, Chrome `FileReader`.`readAsDataURL `returns the string `"data:"`, whereas Edge returns `null`. So a simple nullcheck will fix this

[2019-05-01 15:59] #25 closed, assigned to Tewr

[2019-05-03 17:46] IvanJosipovic opened #34 "Tewr.Blazor.FileReader leaks js files into project"
When adding Tewr.Blazor.FileReader 0.10.19116 to a Blazor Client Side project it leaks the "content" folder into the project.

![image](https://user-images.githubusercontent.com/9521987/57154985-11545080-6d8f-11e9-8e81-9161a0733b10.png)

Repro Steps:

1. Create Blazor project

1. Add "Tewr.Blazor.FileReader" 0.10.19116 Nuget package

[2019-05-06 08:58] Tewr commented on #34
That's odd, must have been a slip on my part in the upgrade process. I could have gotten away with "its a feature not a bug", if it wasn't for the fact that it's in the wrong folder :)

[2019-05-06 16:29] JoacimWall opened #35 "Unable to reset the file picker"
Hi
I am new to html
I use this file picker and it works good but i need some way to reset/clear it.
I have global save button where i save difrent propertys on a object where i also save the file to azureblob. the problem is that the control keep the file refrens så on very save i add a new version of the same file to the azureblob storage.

[2019-05-07 04:16] bytecod3r opened #36 "Some Questions: WASM vs Server Side"
Hi Guys,

I'm a noob in this subject. I have two questions:

1. What is the different between WASM and Server Side?
2. Does the loading. Net Assembly actually executes on the client browser, if yes, if we add a MethodInfo .Invoke after loading the assembly, will it be executed in the Web Browser Context?

Also when loading a .net library in my VS in "Blazor.FileReader.Wasm.Demo", it shows the foll

[2019-05-07 04:52] Tewr commented on #36
Hi.

For the scope of this project, the main difference is that when using WASM, a memory pointer is used to communicate file contents between js and the mono runtime. This means generally less overhead and better performance. For a server-side project this is not possible, the binary data has to be serialized.

Since version 5+ of blazor, this no longer works out of the box, this is why I removed

[2019-05-07 06:21] bytecod3r commented on #36
Thanks @Tewr , How about the error in my previous post? Any known version of libraries I need to use to get it working?

Maybe you may share whats the version, etc running here https://tewr.github.io/BlazorFileReader/Assembly, I duplicate the same environment.

[2019-05-07 06:23] Tewr commented on #35
Hi.
The naive way would be to use `bind="@inputValue"` on the input and when it's time to reset, you just set `inputvalue = ""`.

However I tried, and it works on chrome but crashes on Microsoft Edge. It's most likely a bug (may be related to the fact that `value` of the `input` behaves a bit different on `input type=file`), so I'll file a bug for the blazor team to look at it.

So an alternative

[2019-05-07 06:41] Tewr commented on #36
The sources for that version is here: https://github.com/Tewr/BlazorFileReader/tree/0.5.0

[2019-05-07 06:48] Tewr commented on #36
As for the error in your previous post, my comment referenced your error specifically. I think it may work with a bit of tinkering as I said. I personally don't know of any library or solution that does it for now. Maybe browse https://github.com/AdrienTorris/awesome-blazor and see if something relevant shows up.

[2019-05-07 07:04] bytecod3r commented on #36
Thanks again.  Any keyword or article for writing WASM that loads code on the client's browser? I can't find much information about it.
I have created a new project in .net core 3. but the assembly .invoke runs on the server instead of the client.
Still not sure how did you code your project that runs on client.!

[2019-05-07 08:09] Tewr commented on #36
If you use the Client template to create your project, everything is run in the browser without exception.

Just follow the guide here https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.0 and choose "Blazor (client-side)" in step 8.

I know of a project that does something similar, compiles c# in the browser and then executes it, it may be of interest to you https://

[2019-05-07 09:05] JoacimWall commented on #35
Thanks
i use the bind soultion. this is a internal demo app for now so Chrome is requered.

//Regards Joacim

[2019-05-07 09:05] #35 closed, assigned to nobody

[2019-05-07 09:14] Tewr opened #37 "Input reference Clear Method"
As discussed in #35 . This could be a useful method to have while still having a slim API. This method should be on `IFileReaderRef`. IMO a better API than to use `bind`, also considering that bind currently crashes in Ms Edge

[2019-05-07 09:59] bytecod3r commented on #36
Cool ! Thanks

[2019-05-07 09:59] #36 closed, assigned to nobody

[2019-05-09 20:23] #37 closed, assigned to nobody

[2019-05-09 20:40] #34 closed, assigned to Tewr

[2019-06-04 20:13] Tewr commented on #19
Inclusion is no longer needed in client-side projects. Apparently this will be fixed in the next release of Blazor, I'm putting this on hold...

[2019-06-14 02:43] IvanJosipovic opened #40 "Support Blazor Preview 6"
Preview 6 added quite a few breaking changes.

Blog: https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-6/

[2019-06-16 00:18] #19 closed, assigned to Tewr

[2019-06-16 00:22] #40 closed, assigned to Tewr

[2019-06-16 00:22] #24 closed, assigned to nobody

[2019-06-16 03:13] IvanJosipovic opened #42 "[Bug] tsconfig.json is being packed"
As of version 0.12.19167 of tewr.blazor.filereader. When referencing Nuget package, the tsconfig.json is visible in the consuming project.

![image](https://user-images.githubusercontent.com/9521987/59558563-f8ec6e00-8fa9-11e9-9dea-55bdc2b5764a.png)

[2019-06-16 17:43] #42 closed, assigned to Tewr

[2019-07-05 14:41] #3 closed, assigned to Tewr

[2019-07-07 02:16] kevinjpetersen opened #47 "Improvement of Memory Usage"
Is there any way to improve the memory usage when you need all the bytes into memory? I loaded all the bytes into memory using the "CreateMemoryStreamAsync" and then doing a .ToArray() to convert the bytes into a Base64, so that I can upload this string up to my S3 Bucket.

However, even tho it does work, these are the horrific stats:

An image with the size of **5 MB**, increased the memory usage

[2019-07-09 13:38] Tewr commented on #47
Hello Kevin!

First of all, are you using the library server-side or client side? I'm assuming server-side...

I'd say no.

The CreateMemoryStreamAsync method should only be used with very small files, for the very reason you are stating.

However, S3 has a multipart upload feature you should use instead. This should keep memory low. This means that you read the file one chunk at a time, like I do

[2019-07-10 13:35] Tewr commented on #47
Some additional thoughts (still assuming server-side) : I would expect the allocations to be a maximum of n+(n*1.35) = 2.35n something, for any use case: the byte array in base64 encoding when arriving in dot net land and then the memory stream itself. After a successful garbage collection this should go down to n + buffer size though (as the string buffer memory is being reused)

In your use-case

[2019-07-15 07:17] PhilPJL opened #48 "Excel demo page"
The demo source doesn't contain the Excel import page contained in the live demo.  Is this because you hit the same issue that I did when referencing EPPlus (and some other packages) where the linker fails because the parameter list is too long?

[2019-07-15 20:52] Tewr commented on #48
Indeed! The linker fails, but it did not in that particular version which is on the live demo page. I can't remember if the parameter list size was the actual error back then, I do confirm that the linker step was the problem though.

There are similar problems with the assembly loading demo, the linker works here but removes too much so fails at runtime as the .net standard shim is being stripped

[2019-07-15 22:07] PhilPJL commented on #48
Unfortunately there's no workaround I can see.  EPPlus references (for example) System.Data.Common (4.3.0) which defines a dependency on .NET Standard 1.2, so the linker pulls in all of .NET Standard 1.2 and then fails.  When and if there's a version of all dependent packages that themselves define dependencies against .NET Standard 2.0 (e.g a hypothetical System.Data.Common (4.4.0)) the issue wou

[2019-07-17 14:36] Tewr commented on #48
I thought maybe I'd get around with playing with the [linker configuration](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/configure-linker?view=aspnetcore-3.0). Do you think this might be a possible path? But like you say it's most likely a bug rather than a missing feature, not sure if it's filed, maybe I'll try to dig around and see if something similar is open.

[2019-07-17 14:46] Tewr commented on #48
[this bug](https://github.com/mono/linker/issues/379) looks similar but is closed as resolved,  with some comments sayong it's not working yet (probably depends on what version of mono which was pulled in for preview 6, not sure this change made it)

Edit: I see you're already in the loop here on the follow up issue, but I'll leave it here for reference

[2019-07-17 18:02] PhilPJL commented on #48
Yes that bug is referenced by [https://github.com/aspnet/AspNetCore/issues/11887]( https://github.com/aspnet/AspNetCore/issues/11887), which isn't scheduled to be fixed until Blazor 3.1 which makes Blazor pretty unusable for me.

[2019-07-24 10:18] Tewr opened #50 "Upgrade to preview 7"
https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-7/

[2019-07-25 06:05] #50 closed, assigned to Tewr

[2019-07-25 14:54] Tewr opened #51 "Drag & drop"
@catlan : Thank you for your PR. I'm having trouble firing the drop event using your example. The browser default event is fired (file opens in browser when dropped on element, as if ev.preventDefault() is never called)

Do you have a full example on how to use the code you provided to share?

I tried with preview7.

Regards

[2019-07-25 16:23] catlan commented on #51
Just on my phone right now, but I believe this is the reason:

Typically, an application will include a dragover event handler on the drop target element and that handler will turn off the browser's default drag behavior. To add this handler, you need to include a ondragoverglobal event handler:

function dragOverHandler(ev) {
// Prevent default behavior (Prevent file from being opened)
ev.prevent

[2019-07-25 20:20] Tewr commented on #51
Excellent catch! This was indeed the source of the problem. I'm going to add a prevent default dragover handler as well in the initial code. The idea is that package consumers write as little javascript as possible! unfortunately, it is not possible to do preventDefault in Blazor/c# yet, [it must be done with js interop](https://github.com/aspnet/AspNetCore/issues/5545)

[2019-07-25 21:31] #51 closed, assigned to nobody

[2019-07-29 07:22] Tewr opened #53 "[WASM] Reintroduce shared memory buffer"
Up until preview6, the blazor filereader Wasm library used unmarshalled calls to communicate the file chunks from js to .net. This is no longer the case due to a breaking change in blazor(mono?) that broke the implementation. Might be something as simple as a name change in the API, have not investigated thoroughly.

Main motivation of reintroducing this thing is speed (~30% faster) and general me

[2019-07-31 18:07] tmarkovski opened #54 "Unable to use file read with server-side preview6"
**Describe the bug**
Can't use the file reader component with server side Blazor. The signalr connection fails. On the backend side, the code just hangs when attempting to read from the stream at `await stream.ReadAsync`
Due to other dependencies with the project, I'm unable to use net 3.0 preview7 at this time.

**To Reproduce**
Steps to reproduce the behavior:
Pretty much using the suggested cod

[2019-07-31 19:36] tmarkovski commented on #54
Closing this, as I figured it out. The issue was the buffer size limit of 4096 when reading the stream. Working code below in case anyone runs into again.

[code]

[2019-07-31 19:36] #54 closed, assigned to nobody

[2019-08-01 14:23] Tewr commented on #54
@tmarkovski great that you found a solution.

However, I think your code is equivalent to just calling
 `var imageStream = await file.CreateMemoryStreamAsync(4096)`;

In preview 7, using the [solutions posted here](https://github.com/aspnet/AspNetCore/issues/9570), should work, but if you're stuck in preview6 solutions above will have to do.

[2019-08-01 15:54] tmarkovski commented on #54
I was not aware of that method. Thank you!

[2019-08-02 07:28] Tewr commented on #53
After taking the time to read [Blazor's http.ts](https://github.com/aspnet/AspNetCore/blob/master/src/Components/Web.JS/src/Services/Http.ts) and [WebAssemblyHttpMessageHandler.cs](https://github.com/aspnet/AspNetCore/blob/master/src/Components/Blazor/Blazor/src/Http/WebAssemblyHttpMessageHandler.cs) thoroughly, I think there is a big possibility to avoid using `MonoWebAssemblyJSRuntime.InvokeUnma

[2019-08-02 19:12] PhilPJL commented on #48
@Tewr since there's no immediate (and possibly never) resolution of the linker problem, are you able to recreate your Excel demo as a server side demo?

[2019-08-03 12:45] Tewr commented on #48
I thought I'd just recreate it client side and disable the linker. It
seemed to work the other day when I tried. It didn't work for 0.7 but that
was a while ago, things may have changed.

Either that or the more complex method - link the rest of the app and load
epplus at runtime (so the rest of the app can be linked). Lots of work, and
with possible conflicts, but more interesting.

A server side

[2019-08-05 16:17] PhilPJL opened #55 "Source control question"
Adding your package results in

![image](https://user-images.githubusercontent.com/271656/62478962-529c3800-b7a4-11e9-9c5b-e0075b9d98c4.png)

but the files are actually located

![image](https://user-images.githubusercontent.com/271656/62479125-a27aff00-b7a4-11e9-8adc-6ce56f832218.png)

so I get this message, and I can't add them to source control

![image](https://user-images.githubusercontent.co

[2019-08-06 04:41] Tewr commented on #55
I'd say this is expected behavior. You normally do not want to add third-party libraries nor their static assets directly to your source control, at least if you are using nuget. Referencing them this way should work fine. ~~as long as they are part of your solution directory structure~~. _Edit: solution-local package folders are no longer needed / in use by visual studio with the new csproj forma

[2019-08-06 06:09] PhilPJL commented on #55
Maybe, but I've never seen that warning before when using various NuGet packages on ASP.NET MVC projects.
I'll try putting my test project through the DevOps build server and see what happens when the app is deployed.

[2019-08-06 06:19] PhilPJL opened #57 "Progress callback"
Not a bug - a request.  Can we have notification of progress during the upload?

I have code like this:

[code]

If would useful for larger file to be notified of progress.  Maybe an event on IFileReference or a callback in CreateMemoryStreamAsync.

[2019-08-06 07:00] Tewr commented on #57
This is easily achievable by wrapping the file stream.

This has come up earlier, like a year ago. I could make an example for sure but I think it's too much clutter for the API/package, I want to keep it as small as possible, focusing on opening and reading a stream. CreateMemoryStreamAsync is already a convenience method that is already borderline, but I felt like I had to add it as people might

[2019-08-06 07:22] PhilPJL commented on #57
Ok I'll look at doing that. Thanks.

[2019-08-06 07:22] #57 closed, assigned to nobody

[2019-08-06 08:28] Tewr commented on #57
@PhilPJL: I noticed now that the link I shared does not override ReadAsync, which would be neccessary (but the code would be more or less the same):

[code]

[2019-08-06 08:30] Tewr commented on #55
Let me know if you run into any problems other than the warning. There has been some packaging issues in the past, there is no detailed documentation from the blazor side on referencing static assets and how this should ideally work with nuget

[2019-08-06 09:25] #48 closed, assigned to nobody

[2019-08-14 02:38] IvanJosipovic opened #58 "Upgrade to Preview 8"
See Blog for details:
https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-8

[2019-08-14 16:05] MeMurillo commented on #58
Hi there! I'm also waiting for Ter's update. Because when changing: ElementRef to ElementReference ceased to be compatible with the method:
IFileReaderRef CreateReference (Microsoft.AspNetCore.Components.ElementRef element);

Thank you.

[2019-08-14 17:00] #53 closed, assigned to Tewr

[2019-08-14 17:00] #8 closed, assigned to nobody

[2019-08-14 17:01] Tewr commented on #47
Closing this as there's no feedback on the issue.

[2019-08-14 17:01] #47 closed, assigned to nobody

[2019-08-14 21:41] #58 closed, assigned to Tewr

[2019-08-20 17:13] PhilPJL commented on #55
Nearly getting around to using your file reader.  I notice this:

I don't see anything scripts or css associated with Radzen in the project

![image](https://user-images.githubusercontent.com/271656/63368462-dbef6500-c375-11e9-8cae-c4fb48e6a3eb.png)

but when the app is deployed with Web Deploy, Radzen css and scripts end up in the wwwroot/_content folder.  Your script doesn't appear.

![image](ht

[2019-08-20 18:34] Tewr commented on #55
Thanks for the details! I've read up a tad on this and indeed, there has been some changes since preview7 that I missed on the subject. I simply need to move the files to wwwroot/_content and it should be ok. Or I should just remove it... In any case, this should certainly be adressed.

Are you having any problems (runtime / publish-time) other than that annoying message and things looking weird?

[2019-08-20 19:40] PhilPJL commented on #55
No emergency yet.  Haven't got to the point of trying to upload a file :)

[2019-08-20 22:06] Tewr commented on #55
Wasn't as easy as I thought. I found out that the `<RazorLangVersion>3.0</RazorLangVersion>` element is apparently used as a marker for static assets (even if  no razor is used), but other than that I am clueless on why the nuspec references my js.

I'll have to rebuild the project incrementally to find out.

[2019-08-20 22:29] Tewr commented on #55
Apparently it was my TypeScript build who added them. Ill fix this issue in the next release. THanks for your feedback.

[2019-08-20 22:45] #55 closed, assigned to nobody

[2019-08-20 22:48] PhilPJL opened #66 "EPPlusCommon.razor issue"
you have

`                        <th @rowspan="cell.Rowspan" @colspan="cell.Colspan">@cell.Value</th>
`

should be

`                        <th rowspan="@cell.Rowspan" colspan="@cell.Colspan">@cell.Value</th>
`

Also the code will link fine for the server side demo.

[2019-08-21 08:13] Tewr commented on #66
Thanks!

Indeed, I could add a comment to clarify this.

[2019-08-21 12:50] #66 closed, assigned to Tewr

[2019-08-22 11:27] Tewr opened #67 "Drag n Drop E2E Test"
The Drag n Drop API is currently not covered by any E2E test.

[This article](https://sqa.stackexchange.com/questions/22191/is-it-possible-to-automate-drag-and-drop-from-a-file-in-system-to-a-website-in-s) states that testing it should be quite feasible.

[2019-08-22 11:36] Tewr opened #68 "Base64 stream API"
A lower-level api should be created, which exposes the base64-encoded string returned by the FileReader.

The use-case is when the byte-stream once the data has arrived to clr-land is just raw data passed on to something else that requires base64-encoding, such as a cloud service.

Current process is either a) `file -> byte[] -> base64` (wasm with shared buffer option) or worse b)`file -> base64 -

[2019-08-22 11:56] ADefWebserver commented on #68
For the record, for server side Blazor we are able to upload files, using this component, to Azure storage with blazing performance. So, while the current process may be 'inefficient' I currently have no complaints :)

[2019-08-22 11:59] ADefWebserver commented on #68
However I am using this in startup.cs
[code]

[2019-08-23 06:26] Tewr commented on #68
Thanks for the feedback. For server-side apps, the application Max BufferSize + some x (for blazor metadata) must be larger than whatever buffer size is used.  This and the fact that `CreateMemoryStream()` without any argument will use the file size as buffer size, is something that should be documented in the readme as a "gotcha"...

[2019-08-26 23:51] Mason742 commented on #68
Have you tried uploading to Amazon S3?

[2019-08-27 03:21] ADefWebserver commented on #68
No I haven't.

[2019-08-27 03:44] hamishfagg opened #69 "Uploading file > 30MB on Server-Side Blazor causes "Request body too large""
**Describe the bug**
Uploading a file > 30MB results in
[code]
(the error actually happens at about 21.3MB of the file transferred).

**To Reproduce**
Steps to reproduce the behavior:
1. New server-side project on preview 7 and filereader 0.13.19207
2. Use example async method with stream reading
3. Upload file > 30MB

**Project type**
Server-side

**Environment**
 - Browser: chrome and edge
 - Ve

[2019-08-27 05:39] Tewr commented on #69
I think I agree on most points you've made, this is unexpected behavior. IIS is probably right though, so I'll have to try to reproduce this. The only thing I could think of that would provoke this (except for a blazor framework bug) would be websocket long polling transport but it's quite far-fetched.

In the meantime, you can probably work around this using "traditional" IIS configurations like

[2019-08-27 05:43] hamishfagg commented on #69
I've looked everywhere but Blazor doesn't seem to have a way to change those IIS setting. There's no web.config for example.

Startup.cs:
[code]

[2019-08-27 05:48] Tewr commented on #69
~~Try `webBuilder.UseHttpSys(o => o.MaxRequestBodySize = 50_000_000)` in `Program.cs` ?~~

Youre right looks like there is no corresponding setting for IIS in the inline config (`UseIIS `has no options)

[2019-08-27 06:19] Tewr commented on #69
I can reproduce this under ~~preview9~~ preview8 as well and latest version of the lib (IIS express). However, I tried under IIS (rather than IIS Express) and by default, WebSockets are not enabled, so SignalR falls back to XHR. Its quite slow but the file transfers without problems.

Ill try to find the time in the coming days to configure IIS with websockets (then I'll have access to `maxAllowed

[2019-08-27 08:25] Tewr commented on #69
I tried using IIS/WebSockets with `maxAllowedContentLength` set to 100Mb but the problem remains. So much for my "for sure".

Kestrel however, works over WebSockets without problems. Simply by using
`webBuilder.UseKestrel()`; in `Program.cs`

Possibly an issue with SignalR / IIS. It is as if the IIS security treats the WebSocket chit-chat like one long single message. I'll try to tinker a bit more

[2019-08-27 09:14] Tewr commented on #69
I have made a minimal repro of this problem and posted to asp.net issues at https://github.com/aspnet/AspNetCore/issues/13470

[2019-08-27 10:29] Tewr commented on #69
here's a workaround I've found:

In `Startup.cs` Configure(), add

[code]
Not very nice though, as the limit is there for a reason.

[2019-08-27 19:34] Tewr commented on #69
Framework bug confirmed. Apparently the fix will have to wait until 3.0 as p9 is too close.

30MB in _total throughout the life of a connection_ is enough to provoke it. And not only blazor but signalr under IIS in general affected. So five times a 5MB upload will also provoke this, or just any long-lived application that transfers enough data during the session.

Fortunately the workaround above

[2019-08-27 19:52] ADefWebserver commented on #69
Thanks for commenting on this. A few questions if I may...

1. So using your workaround prevents this until a fix?
2. Would this apply to an Azure Web App running under web sockets?

[2019-08-27 20:14] Tewr commented on #69
1) yes, for blazor apps at least. I'll put it in the readme when I get my hands on a laptop

2) afaik Azure Web Apps are running IIS but I have not tested blazor nor SignalR on this platform so I don't know any details about sdk etc, you would have to try it out... The regression is there since preview6. If your web app is effectively using preview6-preview8 I'd say yes.

[2019-08-27 20:16] hamishfagg commented on #69
Thanks for all of your work on this @Tewr, much appreciated.
I can confirm your workaround works for me, though it doesn't work if placed at the end of `Configure()`. I don't know what it needs to go before... Just stuck it at the top now.

Would you like to me to leave this open till the asp bug is fixed in case someone has the same issue? Or just close it?

[2019-08-27 22:39] ADefWebserver commented on #69
@Tewr - It looks like they got the fix done for 3.0. You-are-a-God :)

[2019-08-27 22:42] ADefWebserver commented on #69
I am successfully running this upload component on Azure Web Apps with web sockets turned on. Average upload is only 1 meg so I haven't run into an issue so far. Anyway I will put in the fix.

[2019-08-28 15:03] #69 closed, assigned to nobody

[2019-08-30 00:45] srowan opened #71 "DragNDrop SSB Race Condition"
* Server side blazor
* Similar code to the dragndrop example
* Getting the following error randomly on refresh (about 30%-50% of the time):

[code]

The error occurs on: `RegisterDropEventsAsync();` :

[code]

I do have `InitializeOnFirstCall` enabled, but I also tried this as well:

[code]

... and still received the error (same frequency).   Adding Task.Delay did not help.

Retrying when it fail

[2019-08-30 05:25] OliverVisual opened #72 "ReadFileInfoAsync Fails SSB"
**Describe the bug**
When calling ReadFileInfoAsync using Server Side Blazor Preview 8. You get "An exception occurred executing JS interop: The JSON value could not be converted to Blazor.FileReader.FileInfo. Path: $ | LineNumber: 0 | BytePositionInLine: 104.. See InnerException for more details."

Seems like JS is pulling info, but server.blazor.js errors.

**To Reproduce**
Steps to reproduce th

[2019-08-30 06:56] Tewr commented on #72
I need some more info on how to reproduce this. Can you post the code in your view?

[2019-08-30 07:14] OliverVisual commented on #72
Hi,

It worked great in preview 7. Updated the nugget packages and the JS and TS files in wwwroot.

Code is simple usage as below and I'm selecting a PDF file.

ElementReference inputElement;

public async Task ReadFile()
    {​
        Output = string.Empty;​
        this.StateHasChanged();​
        var nl = Environment.NewLine;​
​
        if (PageDataForUpload != null)​
        {​
            Pa

[2019-08-30 07:29] Tewr commented on #71
Thank you for your report.

I suspect something like prerendering
https://github.com/aspnet/AspNetCore/issues/11876 but it's quite odd, doesn't really fit the bill. However, the drag and drop is the only example which does jsinvoke in afterrender.

Could you try disabling the prerendering and see if it helps? from https://docs.microsoft.com/en-us/aspnet/core/blazor/state-management?view=aspnetcore

[2019-08-30 08:06] Tewr commented on #72
Looks fairly standard so the problem is more likely in your setup somewhere.  I haven't seen any problems with JSON serialization.

The [SSB demo](https://github.com/Tewr/BlazorFileReader/tree/master/src/Demo/Blazor.FileReader.ServerSide.Demo) works fine under preview8, try comparing your setup (wwwroot content, csproj, startup.cs etc) with the demo and see if there is any difference you can spot.

[2019-08-30 08:46] srowan commented on #71
I actually already have pre-rendering disabled.   I never had a problem with the loading time of SSB (way faster than any angular application I've ever written) and it only caused me headaches :)

[2019-08-30 08:46] Tewr commented on #71
Effectively, I can reproduce this without prerendering so please disregard my previous comment. The problem is, like you say, a race condition in the `FileReaderJsInterop.EnsureInitializedAsync `method which happens occasionally, when the ~~browser~~ _server_ has cached everything really well and executes the code which comes after faster than the script blob has been loaded in the browser context

[2019-08-30 12:02] #71 closed, assigned to nobody

[2019-08-30 14:28] PhilPJL commented on #55
@Tewr
Hi, I don't think this is fixed.  If I remove the Nuget package, FileReaderComponent.js is removed.  When I add the package back I get
![image](https://user-images.githubusercontent.com/271656/64028491-a8ad9280-cb3a-11e9-989d-5fe9ff9812c2.png)

Looks like it's not just your component that this issue.  A colleague has added Blazorise to the app

![image](https://user-images.githubusercontent.

[2019-08-30 16:08] srowan opened #74 "Streaming a file to cloud storage"
This is almost certainly not an actual bug, and instead will likely just illustrate my lack of understanding of streams in .Net.   I'm trying to use the azure SDK to stream file contents to blob storage without loading it all into memory first.    The azure SDK has the following signature:

[code]

So the idea here is you can just give it a stream, and it will upload it for you.  So perhaps someth

[2019-09-01 05:53] Tewr commented on #74
Hello! Good question.

The premise here is that your cloud API does not use ReadAsync, like it "should".

You can make a wrapping stream that implements Read by waiting on ReadAsync. Simple but... blocking. Thus for intensive file upload use it will hog your server's threads for nothing. I thought about implementing this directly in the library at first (as it's "simple"), but blocking on async op

[2019-09-01 06:26] Tewr commented on #55
You are right, problem is still there in the latest release. I managed to figure out what the error was, but as I havent automated packaging I failed to account for it when building the package in the latest release. Next release should be ok...

Thank you for tracking me on this issue or I would have missed it! Ideally I should create a test that verifies the package contents, but its a lot of wo

[2019-09-02 07:59] OliverVisual commented on #72
Thanks mate,

Was the below, that was missing.

 app.Use(async (context, next) =>
            {​
                context.Features.Get<IHttpMaxRequestBodySizeFeature>().MaxRequestBodySize = null;​
                await next.Invoke();​
            });

________________________________
From: Tor <notifications@github.com>
Sent: Friday, 30 August 2019 6:06 PM
To: Tewr/BlazorFileReader <BlazorFileReade

[2019-09-02 09:12] Tewr commented on #72
OK, sounds odd compared to the error you got, but I'm glad you got it working!

[2019-09-02 09:12] #72 closed, assigned to nobody

[2019-09-02 10:04] Tewr commented on #74
Did you try the [CloudBlockBlob client](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.storage.blob.cloudblobclient?view=azure-dotnet) ? Is it applicable for your scenario? It [looks like](https://github.com/Azure/azure-storage-net/blob/25c1aa1f24bd425e5a0c3bc5a50f13e73a3493c6/Lib/ClassLibraryCommon/Core/Util/AsyncStreamCopier.cs#L270) it  uses `ReadAsync` on the source stream.

[2019-09-03 00:31] srowan commented on #74
I believe that is the "old" sdk.  I'm trying to stick with the newer one that will be released with dotnet core 3 as it's a complete rewrite and I expect it to be the standard / recommended sdk after dotnet 3 is released: https://github.com/Azure/azure-sdk-for-net

It seems somewhat likely that this could just be an oversight with the new SDK, as you mentioned.  I will add a bug and see what they

[2019-09-03 08:52] Tewr commented on #74
Is it possible for you to reproduce a stacktrace from the exception? Reading the code for `UploadAsync(Stream content)`, it ends up with `sourceStream.CopyToAsync`, which should certainly call `ReadAsync` of the [`InteropFileStream`](https://github.com/Tewr/BlazorFileReader/blob/master/src/Blazor.FileReader/FileReaderJsInterop.InteropFileStream.cs). Which apparently it doesn't, so I must be follow

[2019-09-04 00:42] srowan commented on #74
Sorry, yes - I was going by memory - you are correct, it is `NotImplementedException`

[2019-09-04 10:13] Tewr commented on #68
This Api was published in https://github.com/Tewr/BlazorFileReader/pull/76

[2019-09-04 10:13] #68 closed, assigned to nobody

[2019-09-04 12:29] Tewr commented on #74
I have managed to debug this during my lunch break.

Turns out the call comes from [NonDisposingStream.Read()](
https://github.com/Azure/azure-sdk-for-net/blob/81cb4541c8dceabc339a75eb17be3dfc7a436bfe/sdk/storage/Azure.Storage.Common/src/NonDisposingStream.cs#L32)

The innerStream being our [InteropFileStream](https://github.com/Tewr/BlazorFileReader/blob/master/src/Blazor.FileReader/FileReaderJsI

[2019-09-04 13:32] thopdev opened #77 "Loading time (CSB)."
**Describe the bug**
When i try to read a csv file of 40.000kb (360.000 lines) i takes a really long time (couple minutes)

im using:
`new StreamReader(await _fileReference.OpenReadAsync()`

I tried reading by line:
`var line = await reader.ReadLineAsync();`

or reading by file
`var text = await reader.ReadToEndAsync();` This took 4.03 minutes for 40927219 chars.

My computers does start using mor

[2019-09-04 13:52] Tewr commented on #77
Are you using server-side or client-side?

Large files on client-side hasn't been a big hit so far, lots of memory is being allocated, nothing is being deallocated, and the GC is overwhelmed. ( `WASM: GC_MINOR: (Nursery full)` messages in the console)

What buffersize have you tried? Does it make any difference? `StreamReader `uses quite a small buffersize by default (`1024kb` I think), you could

[2019-09-04 14:04] thopdev commented on #77
@Tewr Thank you for your response.

I'm sorry that i did not mention it but i am indeed using client side.
I tried changing buffersize but that doesn't have that big of an impact.

[2019-09-04 14:16] Tewr commented on #77
OK thanks. I think this is a general problem with the GC in mono wasm. It's something that has to be rapid on a native level for these kinds of allocations, and WASM has no native support for GC for now, so it's all WASM.

That said, I haven't thought about the speed issues for a while, and if this is really a GC issue (to be confirmed) there might be a way of avoiding said allocations by re-using

[2019-09-04 14:26] thopdev commented on #77
Thank you, ill look into it.

[2019-09-04 20:27] IvanJosipovic opened #78 "Upgrade to Preview 9"
See Blog:
https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-9

[2019-09-05 07:52] thopdev commented on #77
https://github.com/aspnet/AspNetCore/issues/10579

.Net Standard 2.0 Doesn't support readAsync(Memory<char[]>

So i don't believe it is possible to do this.

[2019-09-05 10:55] #78 closed, assigned to Tewr

[2019-09-05 12:10] Zsolt-Bendes commented on #74
@Tewr
I'm not an expert in streams. Maybe C# 8 async stream and IAsyncDisposable solve this in the future?
Btw, awsome library :) Unfortunatly in prev 9 version I get an error. Will open a ticket with some details.

@srowan
For streaming a file to a blob storage I create a SAS token and I stream the file content via the REST API of the blob storage.

Something like this:
`
 var sasToken = await _h

[2019-09-05 12:27] Zsolt-Bendes opened #80 "Fatal error in IL Linker - prev. 9"
Hi there.

I'm using this library to upload relatively small images on **client side Blazor**. After updating to prev 9 at compile time I get
` Unhandled Exception: Mono.Linker.MarkException: Error processing method: 'System.Void Blazored.Typeahead.BlazoredTypeaheadBase`1/<HandleFocus>d__63::MoveNext()' in assembly: 'Blazored.Typeahead.dll' ---> Mono.Cecil.ResolutionException: Failed to resolve Sy

[2019-09-05 12:30] ADefWebserver commented on #80
Perhaps this is related to [implementations of IJSRuntime to return ValueTask<T>](https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-9/).

[2019-09-05 12:52] Tewr commented on #80
I am compiling both with and without linker and I have had no problems at all at compile-time. The only issue I've had so far is visual studio has changed something, so I can't run my server-side e2e tests anymore and I probably will have to rewrite the wiring.

Unless the [nuget page](https://www.nuget.org/packages/Blazored.Typeahead/) is wrong, this library is not upgraded to p9 yet. this is mos

[2019-09-05 13:34] Zsolt-Bendes commented on #80
@Tewr
You are right. Blazored.Typeahead is still in prev 8.
Sorry, this was my mistake. I wait for an update the lib.

Thank you for the help and the quick answer!

[2019-09-05 13:34] #80 closed, assigned to nobody

[2019-09-06 15:46] Tewr commented on #74
The fix is [merged](https://github.com/Azure/azure-sdk-for-net/issues/7456) into the azure sdk now, but I guess you'll have to stick to the method outlined by @Zsolt-Bendes until they get another version out, looks like they do it monthly more or less. Or compile the sdk yourself...

[2019-09-07 23:46] srowan commented on #74
Wow, you are amazing, thanks!   For now I'm just streaming to memory, then writing to azure.  That will do until they release the next version.

Thanks again, and sorry for dragging you into that :)

[2019-09-07 23:46] #74 closed, assigned to nobody

[2019-09-08 10:11] Tewr commented on #74
Thank you for reporting it! Azure is a very prominent platform and I think your use case shouldn't be too rare. It's great to find these kind of kinks while 3.0 is still in preview. This means devs are responsive and accept pull requests as the pressure is off. Once released they may be reluctant to fix stuff even if it's a perceived bug, as backwards compatibility is super important

[2019-09-08 10:25] Tewr commented on #77
Yes I think my comment is a bit out of the blue as well, as the byte array is most likely not the problem, I'm guessing the js interop serialization is more important here, that is, metadata is more damaging than that data itself.

Thinking out loud here...

Maybe there is a possible optimization here as the metadata largely consists of integers. Might be able to skip json serialization which is l

[2019-09-08 15:51] whentotrade opened #82 "Blazor Server running in docker container cant access static web assets"
**Describe the bug**
Building an blazor app server-side with FileReader works without any problem. When deploying as docker container, startup fails as it wants to access "/root/.nuget/packages/tewr.blazor.filereader/0.15.0.19248/staticwebassets" during first run, which is not mounted as a volume.

**Error message**
[code]

**Project type**
Server-side

**Environment**
 - Visual Studio Preview 16.

[2019-09-08 17:41] Tewr commented on #82
Hello,

I'm sorry but I am really a docker novice so I'm of little help. Try reading [this thread](https://github.com/aspnet/AspNetCore/issues/11609) to see if you can get something out of it.

That said, staticwebassets are not needed for the component to run server-side if you use the initializeonfirstcall=true option, so if you could just get rid of it somehow that could be a workaround

[2019-09-08 17:49] Tewr commented on #82
Are you using any other package that has staticwebassets that works? That could help me compare in case my packaging setup has some kind of issue.

[2019-09-08 19:56] Tewr commented on #82
Quote from https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class?view=aspnetcore-3.0&tabs=visual-studio#create-an-rcl-with-static-assets:

Is this not happening for you?

[2019-09-09 08:31] whentotrade commented on #82
The assets are there in the container. All fine.

It looks like this is only related if the docker container is started via visual studio. If the created container is manually started via docker run, all is working. So the error can be scoped to the visual studio starting/debugging experience which is not working. The package in general is working when container is started manually.

Thanks for yo

[2019-09-09 09:24] Tewr commented on #82
OK thanks for the feedback, closing

[2019-09-09 09:24] #82 closed, assigned to nobody

[2019-09-09 18:02] kaanlab opened #84 "How to read multiple files without drag-n-drop?"
Try this code but FileReader see only last file
`
   <input type="file" multiple @ref=inputElement />
  <button @onclick="Add" class="btn btn-primary">read</button>
  <button @onclick="ReadFile" class="btn btn-primary">read</button>
  @code
  {
     ElementReference inputElement;
    IFileReaderRef fileReaderReference;

    public async Task AddToList()
    {
        fileReaderReference = fileRead

[2019-09-10 05:17] Tewr commented on #84
Your code must be missing something. just to be sure, I just tried using the basic examples in the demo using the "multiple" attribute and it's working fine.

Provide an example of code that can be executed that reproduces the problem you are having and I might be able to help you out.

[2019-09-10 06:17] kaanlab commented on #84
[This is my example](https://gist.github.com/kaanlab/9e97f154c9065f582f71364790f6ebb5)
At first step i append files to list and add description to each file, at the second step - read all files.

[2019-09-10 07:27] kaanlab commented on #84
[This is my example for multiple file upload](https://gist.github.com/kaanlab/c729e146efc85f243609e1ef3ccec577)
but `List<IFormFile> files` in UploadController are empty.
But drag-and-drop example work fine with same action in UploadController

[2019-09-10 09:40] Tewr commented on #84
When is `AddToList()` called? it is not referenced? I don't see how this could work at all, seeing you're not initializing the `fileReaderReference`.

Use either [`await fileReaderService.CreateReference(inputElement).EnumerateFilesAsync()`](/Tewr/BlazorFileReader/blob/master/src/Demo/Blazor.FileReader.Demo.Common/IndexCommon.razor)
or initialize a reference to `fileReaderReference` in [`OnAfterRe

[2019-09-10 11:45] kaanlab commented on #84
Add `protected override void OnAfterRender(bool isFirstRender) ` but still not working: [updated example](https://gist.github.com/kaanlab/c729e146efc85f243609e1ef3ccec577)

[2019-09-10 14:57] Tewr commented on #84
What is the problem exactly? do you get only one file or is the file list completely empty?

In any case, This line `multipartFormDataContent.Add(fileContent, "file", "fileName");` in a loop looks suspicious to me. I'm not sure what to put there but you probably should not put the same thing every time.

have a look at this example: https://stackoverflow.com/questions/16906711/httpclient-how-to-up

[2019-09-10 16:23] kaanlab commented on #84
Yes, list is empty, but in drag-n-drop example list is filled with data.

I wanted to write a simpler code. Instead "fileName" i use
 `fileInfo = await file.ReadFileInfoAsync();
fileInfo.Name;`

Thank you for stream enhancement.

[2019-09-10 17:59] Tewr commented on #84
Are you using server-side or client-side blazor?

[2019-09-10 18:01] kaanlab commented on #84
Client-side, preview9

[2019-09-10 19:26] Tewr commented on #84
here is full working minimal code, i just debugged it, I see no problem. Now I'm a bit disappointed, which is weird, cause its nice that is working.

Now at least, just copy my code, build from there and you will be fine. Don't know what you missed but it's not a problem with the library. I should keep this somewhere...

uploadmvc.razor

[code]

uploadcontroller.cs
[code]

[2019-09-10 21:12] kaanlab commented on #84
Thank you!

[2019-09-10 21:12] #84 closed, assigned to nobody

[2019-09-10 23:37] kurtzeborn commented on #74
@srowan, I wanted to share that the updated previews containing @Tewr's fix were published just now:
- [Azure.Storage.Blobs](https://www.nuget.org/packages/Azure.Storage.Blobs/12.0.0-preview.3)

Thanks @Tewr for contributing the fix!  It is greatly appreciated.

[2019-09-11 07:44] Tewr commented on #77
Well I tried caching the buffer to minimize callbacks, the code got a lot more complex and interesting, a bit unstable for some reason... but certainly not significantly faster. The GC seems to have the same problems as before.

I guess as long as I'm not able to profile wasm, it will remain a problem. But I'm open to ideas, PRs, experiments..

[2019-09-11 08:17] thopdev commented on #77
I did some things on my side to improve it. Its still not as fast as i like but good enough for now.

Thanks for all the help and i hope blazor improves the GC.

[2019-09-16 04:29] Tewr commented on #77
@hopstar: is there any code or tips you are willing to share?

[2019-09-16 13:56] Tewr commented on #77
Turns out my Idea about references allocations was on the spot for the meta data, but my implementation lacked the knowledge of the internal apis that could be used.
This technique is being used [here](https://github.com/SteveSandersonMS/BlazorInputFile/blob/075a154d81192b588164608f9c381bece4d42f5e/BlazorInputFile/wwwroot/inputfile.js#L47) and avoids serialization altogether, by using reflection t

[2019-09-17 07:02] OliverVisual commented on #72
Hi Mate,

I wasn't sure to post this as an issue or not?
I'm trying to upload large files and show a progress bar.

Is there a way using Server Side Blazor to get the progress from your control?

I tried a few different ways, but no luck.

________________________________
From: Tor <notifications@github.com>
Sent: Monday, 2 September 2019 7:12 PM
To: Tewr/BlazorFileReader <BlazorFileReader@noreply

[2019-09-17 07:12] Tewr commented on #72
Have a look  the samples. [This line](https://github.com/Tewr/BlazorFileReader/blob/58ae55a5c5737d08adf2350891eadbfe82a76bd9/src/Demo/Blazor.FileReader.Demo.Common/IndexCommon.razor#L50) can be easily switched to get the current stream position.

Something like this:
`<progress max=@max value=@value></progress>`

[code]

[2019-09-17 19:04] kaanlab opened #85 "Save to IFileReference"
Can i write data directly to IFileReference? I want to resize image in browser, save data and then send data to API controller.
Something like this:
<code>
using (var stream = await file.CreateMemoryStreamAsync())
{
            using (Image image = Image.Load(stream))
            {
                image.Mutate(x => x.Resize(image));
                image.SaveAsJpeg(stream);
            }
       //

[2019-09-17 19:25] Tewr commented on #85
No, this library exposes a read-only stream. You need to write modifications to another stream.

I don't know what Image class you are using here in your example, but if you refer to the `System.Drawing` Image class you probably won't have much luck as they depend on GDI, which is platform-specific (native) and probably not implemented on the `mono-wasm` platform.

That said, it may be possible wi

[2019-09-17 19:48] kaanlab commented on #85
Ok, thank you

[2019-09-17 19:48] #85 closed, assigned to nobody

[2019-09-18 07:10] Tewr opened #86 "Upgrade to RC1"
https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-release-candidate-1/
https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0-release-candidate-1/

[2019-09-18 08:43] Tewr commented on #77
Apart from the more efficient calls, @SteveSandersonMS proposes (in his code) to be reading the full file in js at the first call and subsequently chunking only on the .net side (rather than chunking on both sides as I do). I'll have to check what this means for ram (for a 100MB file, wouldn't this technique use a minimum of 100MB of ram on the browser?). If there are no ramifications (pun intende

[2019-09-18 11:45] ADefWebserver commented on #77
I create line of business apps and my users frequently do not have web browsers, or computers, that have a lot of power. Therefore, anything that uses less memory is good for me. So please consider including a parameter that allows me to continue to use the upload control in the present configuration. For server side Blazor it is working great so far and is very fast.

[2019-09-18 12:59] Tewr commented on #77
@ADefWebserver thank you for the input. In any case, I'm not planning on imposing anything worse than I have already when it comes to RAM usage. I feel like the whole point of using streams is lost if you can't control resource consumption (then just transfer a single huge string and be done with it...). But the GC Pressure overload is very real real quickly on client-side (starting around 5MB som

[2019-09-18 20:15] #86 closed, assigned to Tewr

[2019-09-19 18:19] PhilPJL opened #88 "Regression?"
Updating to latest version

![image](https://user-images.githubusercontent.com/271656/65269870-eede8c00-db11-11e9-9ad2-34f96a822c26.png)

The error message is back

![image](https://user-images.githubusercontent.com/271656/65269937-0c135a80-db12-11e9-873f-2d86fd00bac7.png)

![image](https://user-images.githubusercontent.com/271656/65270040-441a9d80-db12-11e9-8434-ca15ab54a5e0.png)

[2019-09-19 19:19] Tewr commented on #88
Thank you for the report. Yes. I missed the parameter in the pack command. I gotta put up a CI for this step so I won't forget.. This is fixed in 0.16.0.19262.

[2019-09-19 19:20] #88 closed, assigned to Tewr

[2019-09-23 18:29] Tewr opened #89 "Update to 3.0"
https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0/
https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0/

[2019-09-23 20:44] dharmaturtle commented on #69
Might be useful to add @IVData's code to the examples - downloading files is a common thing to do.

[2019-09-24 08:16] #89 closed, assigned to Tewr

[2019-09-27 12:52] Tewr commented on #77
I tested this in conjunction with TaskManager. Loading a 100MB or even a 400MB arraybuffer has no impact on memory (unless, of course, you read it in to a `MemoryStream`, that will blow up the ram). It make sense as an array buffer is not consumable anyway before loading the bytes using `Uint8Array`. I am pretty confident now that the big gains here have nothing to do with abusing the RAM,  all th

[2019-09-28 18:27] DNF-SaS opened #91 "Question: additive Drag+Drop possible?"
Hi,

I'd like to fake the popular "dropzone.js" with BlazorFileReader.
Main motivation is, that dropzone.js can collect multiple drag+drops and start the upload afterwards.
Unfortunately, BlazorFileReader's DragDrop-Demo clears the droplist before every dropevent-handling. I'm a simple man, so I removed FileList.Clear() in RefreshFileList()) ;-) - was fine on the first look.
But on the second, I r

[2019-09-30 05:50] Tewr commented on #91
https://github.com/Tewr/BlazorFileReader/blob/2921085be1cde0a0af5fc22a96d3169758adbff1/src/Blazor.FileReader/script/FileReaderComponent.ts#L60

 the file list is being reset upon drop here

I'd have to test but I'm guessing a simple option passed to the register method could make it additive. Currently, it's not really possible, unless you create a new drop target in place of the old one on each d

[2019-09-30 08:39] Tewr commented on #91
OK so I had five minutes to look at the demo of dropzone.js, and I agree that BlazorFileReader should be more flexible on this particular point. I'll add the option and a demo when I get the time. Should be relatively simple, however I'll have to workaround the fact that multiple drop events is being raised if I remember correctly, which is currently avoided as we do a complete reset each time.

[2019-09-30 10:20] Tewr commented on #77
@hopstar: Could you post any code I could test? I tried the standard buffersize used by Stream.CopyToAsync (80KB / 81920 bytes) and that speeds up the examples significantly. Even without optimizations I have found that 100Mb should be around 5 seconds.

Ok so with Steve's interop magic I might get it down to 2 seconds, but we are far from minutes here!

[2019-09-30 10:26] SteveSandersonMS commented on #77
@Tewr Not sure if you're testing against `localhost`, but if so I'd recommend not doing so. For realistic speed measurements, use a server that's at least about 200ms away from you in ping time, and compare that to native HTTP upload speed to the same server.

[2019-09-30 10:43] Tewr commented on #77
@SteveSandersonMS: To be clear, I'm only talking about CSB/shared memory. SSB is a different beast, as you stated in your blog post.

[2019-09-30 13:27] thopdev commented on #77
@Tewr I would love to post some code but its kinda hard as it its requires a few classes from my project, how could i best give it to you? or try to run it myself?

(im reading a csv file and spliting it by delitmeter, then creating objects based on the properties)

[2019-09-30 15:51] #91 closed, assigned to Tewr

[2019-10-01 06:31] Tewr commented on #77
I created a csv with 450K lines to measure (~40MB).

For each line i extract one column using string split, parse it to integer, and adds it to a variable.

Incrementally adding code to measure:
`bufferSize=81920;`
- Just reading raw bytes with 80KB of buffer size: 1.5sec (2sec when cold).
- `using (var sr = new StreamReader(await file.OpenReadAsync(), System.Text.Encoding.UTF8, false, bufferSize)

[2019-10-02 09:23] Tewr commented on #77
Whenever I get the time (and my head around it) I'm going to do a test with [System.IO.Pipelines](https://devblogs.microsoft.com/dotnet/system-io-pipelines-high-performance-io-in-net/). It wont completely eradicate allocations but I might be able to push them down significantly - assuming that the GC pressure is the culprit we are looking at here, but for the moment it's my only hypothesis.

[2019-10-02 12:21] Tewr commented on #77
I've been totally nerd sniped on this one (people in threads relating to `Span` and `Memory` keep referring to that xkcd joke)

Anyway, first optimization I found during lunch break:
Replacing `string.Split` with `Span.IndexOf` and `Slice` reduced that second 25 secs penalty to 15 secs.
Here is the method I use to get a field from a line in the CSV (where `n` is the index of the column I want, if

[2019-10-02 17:15] rpskelton2 opened #93 "Implement CopyToAsnyc(stream, bufferSize) in js interop"
If you were to implement CopyToAsnyc(stream, bufferSize) in the js interop it would vastly simplify consuming code that wants to pull down the stream in chunks to stay under the SignalR buffer limit.

[2019-10-02 17:26] Tewr commented on #93
Hello! Thank you for your feedback! But I'm not sure I'm following here. Could you back up a bit, a bit more context? Is something stopping you from using `CopyToAsync` as it is today?

[2019-10-02 18:02] rpskelton2 commented on #93
Hello, I'm not a streaming expert so apologies in advance if I'm missing something.

I attempted to use code like below on a server side blazor application.  When run, it appears to be hanging in the js interop and finally the CopyToAsync task will timeout/cancel.  When I briefly looked at your code I didn't see an override implementation of CopyToAsync in FileReaderJsInterop.InteropFileStream.cs

[2019-10-02 18:20] Tewr commented on #93
The default implementation of `Stream.CopyToAsync` in the base class calls `ReadAsync`repeatedly with the specified BufferSize if `ReadAsync` is overridden, so no need for me to override `Stream.CopyToAsync`.

The following is working code, I just tried it in SSB:

[code]

[2019-10-02 18:35] rpskelton2 commented on #93
I just did some more testing and I'm hitting the signalr buffer limit using fs.CopyToAsync(target, BufferSize).  My hope had been that if BufferSize was smaller than the signalr buffer that CopyToAsync would still chunk it in BufferSize pieces  (my BufferSize is 70% of signalr).  I probably just misunderstood how CopyToAsync works.

In any case if I use Buffer.BlockCopy as in the code above it wil

[2019-10-02 20:29] Tewr commented on #93
OK, thanks for the info. I think what you're saying makes sense though, I dont see any misunderstanding.

Here is the source code for [CopyToAsync](https://referencesource.microsoft.com/#mscorlib/system/io/stream.cs), theres really nothing special in there:

[code]

However, I agree that the SignalR size limit is inconvenient. Multithreading has been proposed by Steve Sanderson to work around it,

[2019-10-03 14:26] Tewr commented on #93
I'm closing this as I think we've sorted out most stuff even if there is some doubts on the source of the initial problem, I'll reopen if you disagree.

[2019-10-03 14:26] #93 closed, assigned to nobody

[2019-10-10 10:11] Tewr commented on #77
Well, I haven't had the time to  finalize any demo, but I've been fiddling a bit. I don't think readonlyspan is ideal because it get quite complex and not very generic.

[This guy](https://github.com/indy-singh) has made excellent [write-up up on low-allocation parsing](https://github.com/indy-singh/StringsAreEvil) that could be used. I'ts quite low-level but it may be very interesting in the curr

[2019-11-16 02:52] nguyenvanbien95 opened #94 "Limit size of file upload"
How to set limit size of upload file using IFileReaderService?

[2019-11-17 19:44] Tewr commented on #94
Hello.

Take a look at the `IFileInfo.Size` property before starting the consumption of the stream, and compare to your upper limit.

The [demo](https://github.com/Tewr/BlazorFileReader/blob/081516a2de46fb65b410632991f59305291f21e3/src/Demo/Blazor.FileReader.Demo.Common/IndexCommon.razor#L48) shows an example of how to read this property.

[2019-11-17 19:44] #94 closed, assigned to nobody

[2019-12-06 21:14] vfrz opened #95 "Blazor 3.1 Preview 4 / ASP.NET Core 3.1 compatibility issue"
The library stopped working since I updated my application to latest blazor version (3.1 preview 4 aka ASP.NET Core 3.1 release).
The javascript file "FileReaderComponent.js" is not loaded in the page automatically anymore.
This is maybe related to this: https://github.com/aspnet/AspNetCore/issues/13103

For now my workaround is to copy the js file to my own project and include it in index.html

[2019-12-07 10:55] Tewr commented on #95
Thank you for the report and the workaround. I'll have to read up on how this works in 3.1 p4 .

[2019-12-07 19:05] IvanJosipovic commented on #95
It appears that static resources are no longer loaded automatically in Blazor CSB. They need to be loaded manually like Blazor SSB.

[2019-12-07 20:21] Tewr commented on #95
@vfrz can you try using `options.InitializeOnFirstCall = true`
In addition to `options.UseWasmSharedBuffer = true` in the setup? That should work as well.

[2019-12-07 20:28] Tewr commented on #95
Also, a third workaround would be to call `await IFileReaderService.EnsureInitializedAsync()`. This is slightly less expensive than  `options.InitializeOnFirstCall` as it only has to be called once, the drawback being that you need to put it in some nifty event that's only being called once per session, or wrap it's with a static boolean to make sure you don't call it twice, as it's redundant.

[2019-12-07 20:42] Tewr commented on #95
https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-core-3-1/:

So looks like static assets have to be included explicitly in wasm projects. Shouldn't have to copy the file though, should just be _content/Tewr.Blazor.FileReader/FileReaderComponent.js

Question is, do I have to republish my package for this to work?

[2019-12-07 21:10] vfrz commented on #95
I've tried to import the js file using `_content/Tewr.Blazor.FileReader/FileReaderComponent.js` path, but it's not working. Actually I don't know if republishing the package is required.

Btw setting InitializeOnFirstCall to true makes it work.

Thanks for your help.

[2019-12-07 21:22] IvanJosipovic commented on #95
Try removing the "latest", this broke static resource publishing for me.
https://github.com/Tewr/BlazorFileReader/blob/081516a2de46fb65b410632991f59305291f21e3/src/Blazor.FileReader/Blazor.FileReader.csproj#L7

[2019-12-07 22:24] Tewr commented on #95
@IvanJosipovic thanks ill have a look.

 I really dislike complicated setups, so I'm leaning against setting `InitializeOnFirstCall` to `true` as a default setting even if the langversion thing might be relevant. I'll have to do some testing.

[2019-12-08 07:34] Tewr commented on #95
A

[2019-12-09 19:26] pablopioli commented on #95
Importing the file FileReaderComponent.js worked for me.

I **guess** republishing is not required. As Blazor Wasm is in beta, workarounds are expected. Who knows if another breaking change is in the next preview?

[2019-12-18 05:00] nguyenvanbien95 opened #96 "Free memory after upload file"
Hi, thanks for your help.
How to free memory after upload file? Memory of app increase a lot after I upload a file 500 kb. Memory grow up about 10 MB. I used ANTS to Profiler.
Thank you so much.

[2019-12-18 20:29] thopdev opened #97 "ReadLineAsync returns Null"
**Describe the bug**
All lines read from files are null when build with --configuration Release

Code:
            using var stream = await _fileReference.OpenReadAsync();
            using var reader = new StreamReader(stream, Encoding.UTF8, true, 10000);
            string line;
            while ((line = await reader.ReadLineAsync()) != null)
            {
                yield return line;

[2019-12-19 08:03] thopdev commented on #97
Sorry problem was at my end,
`while ((line = await reader.ReadLineAsync()) != null)`
this didn't work on release
i replaced it with
[code]

This did work

[2019-12-19 08:03] #97 closed, assigned to nobody

[2019-12-19 20:14] Tewr commented on #96
First question, Are you using client side or server side blazor?  Memory going up slightly when reading a file is perfectly normal. Memory going up indefinitely as ffiles ar consumed is however not normal, and could mean a memory leak. is this what you're experiencing?

[2019-12-20 01:37] nguyenvanbien95 commented on #96
I have used server side blazor. Memory going up indefinitely and I can not find any problem in code.

[2019-12-26 09:10] bermanUnicorn opened #98 "Moving of unreaded bytes in stream"
Hi, thanks for your project! It was very helpful for me in my serverside Blazor app.
My case assume that uploading files can be much larger than i wanna scale my SignalR message size :)

I found some behavior, that, I think, is a bug or smth:
When you try to read stream content part by part such as default workflow with FileStream - you will override begining of your buffer. As i noticed - it happ

[2019-12-27 10:54] Tewr commented on #98
Hello! Using a single huge buffer rather than a buffer representing a single transfer is indeed a very rare use case. I didn't try it, and when reading the code I think you are most likely right, this is currently not working. The target buffer must represent a chunk and nothing else.

[2019-12-27 17:56] Tewr commented on #98
@bermanUnicorn in the mean time, you can use any of the examples in the project, they all work regardless of file size, as long as your `offset = 0` and `count = buffer.length`.

[2019-12-28 23:41] #98 closed, assigned to Tewr

[2019-12-29 15:18] #95 closed, assigned to nobody

[2019-12-29 17:56] Tewr commented on #96
Hello again, I've managed to find the time to run a memory profiler, but I can't find any leak.

Here is the memory chart of uploading files which are about 6Mb. Sure there are some additional allocations at the first upload but the graph flatlines quickly.
![Memory-Footprint](https://user-images.githubusercontent.com/2945607/71560612-dc5ae380-2a6c-11ea-8469-9714760e15f8.gif)

Unless you can give

[2019-12-30 02:03] nguyenvanbien95 commented on #96
Thanks for your supporting. It seem is not problem. I saw Unmanaged memory is high. I asked .Net team for this problem. They said that is normal, memory is freed when memory is low. In my server, GC is not run regularly, so memory will grow up to limit.

[2019-12-30 02:03] #96 closed, assigned to nobody

[2020-01-07 00:24] OliverVisual opened #101 "Click to add during drag drop"
**Describe the bug**
This is a feature suggestion. Would be great to be able to click the drop target and open a file dialog allowing the user to select a file. Otherwise the drag drop feature doesn't hold up on a mobile device.

[2020-01-07 16:50] Tewr commented on #101
Hello Olivier, thank you for your suggestion.
I'm pretty sure this is already possible, but, alas, I lack an example in the demo project. You could have a hidden input in the drop target.

However as it is now, I don't think the input itself can be a drop target. That would require a change of the current javascript. I'll look into it.

[2020-01-07 18:05] codesoroush opened #102 "how i can interrupt read file ?"
its not a bug , but i dont know how i can interrupt a proccess

[2020-01-07 18:31] codesoroush commented on #102
Right now I'm using this method, I don't know if it's standard

[code]

[2020-01-12 19:52] Tewr commented on #102
This depends on how you read the stream.

If you are using one of the examples when the stream is read in chunks using a while loop: let the cancel button set a Boolean to true. I the while loop, check if the Boolean is set to true, if that is the case bail out of the while loop and then do some cleanup.

If you are using stream.copytoasync to read the stream, you could pass a cancelationtoken to

[2020-01-13 05:45] OliverVisual commented on #101
Hi,

I tried to do this and opening the file dialogue works, but I could find a way to add the file into the drop target?

We don’t want to display a button aswell as a droptarget.

From: Tewr <notifications@github.com>
Sent: Wednesday, 8 January 2020 3:51 AM
To: Tewr/BlazorFileReader <BlazorFileReader@noreply.github.com>
Cc: Oliver <Oliver@VisualApprovals.com.au>; Author <author@noreply.github.co

[2020-01-14 07:20] lulikin opened #103 "ReadAsync dont work when Release"
function
 public Task<int> ReadAsync(byte[] buffer, int offset, int count)
works correctly, when I'm in debug mode, but when I'm in release mode or when I publish blazor web assembly project, that function always return 0.
Here is my code :
[code]

**Expected behavior**
Function should work.

**Project type**
Client side

**Environment**
 - Browser: doesn't matter
 - Version of Blazor.FileReader:

[2020-01-15 12:31] Tewr commented on #103
Sounds like a framework bug but sounds can be deceiving. Ill try to find the time to reproduce in the coming days.

Could you create a small project that reproduces this? Or at least post your full setup? Your setup could possibly affect this - there has been some issues in the framework regarding static resources and release/publish

[2020-01-15 15:38] Tewr commented on #101
Yea so I remember it as you could set your dropzone div to relative
positioning. Then the input inside the dropzone div with absolute
positioning and opacity 0 and width height 100%.

Is this what you tried to do?

On Mon, Jan 13, 2020, 06:45 OliverVisual <notifications@github.com> wrote:

[2020-01-15 15:43] Tewr commented on #103
Try the solution in #97 and see if this works for you

Thought it sounded familiar

[2020-01-16 06:48] OliverVisual commented on #101
I called the input using JS to open the dialog and tried to get the file and pass it into the drop zone.

I’m trying to get the file to appear in the drop zone.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tewr <notifications@github.com>
Sent: Thursday, January 16, 2020 1:38:44 AM
To: Tewr/BlazorFileReader <BlazorFileReader@noreply.github.com>
Cc: Oliver <Oliv

[2020-01-16 22:33] #101 closed, assigned to nobody

[2020-01-16 22:35] Tewr commented on #101
I added an example of clickable drag n drop in the demo project. The example is using the native drop of the input element.

[2020-01-16 23:26] Tewr commented on #103
I can't reproduce this. Please provide a full repro project.

[2020-01-29 19:50] pablopioli opened #104 "Blazor 3.2 Preview 1 compatibility issue"
Updating to the last preview generates an error:

Microsoft.JSInterop.JSException: Blazor.platform.findMethod is not a function

[2020-01-30 03:42] pablopioli commented on #104
I'm trying to understand the changes involved. My main question is: where is information about all those internals? Reading the Blazor source code?

[2020-01-30 07:25] lulikin commented on #103
I changed code. It was working till now (Blazor 3.2)
[code]
Now I have problem with 'Blazor.platform.findMethod' in javascript, but I see, that this promlem is beeing investigated in another thread.

[2020-01-30 09:37] Tewr commented on #103
I'm closing this as the original issue is resolved

[2020-01-30 09:37] #103 closed, assigned to nobody

[2020-01-30 09:56] szmalec commented on #104
@pablopioli  It looks that `findMethod` has been removed in this commit: https://github.com/dotnet/aspnetcore/commit/62e2fb22e5eef6ba4be0919a2f0d9435293eac82
It looks that instead `findMethod` they now use `bindStaticMethod` (which calls `Module.mono_bind_static_method`)?

So fix will probably be to switch to that calls `Module.mono_bind_static_method`. As you can see in commited file they removed

[2020-01-30 12:26] pablopioli commented on #104
I don't mind to wait, I just find your component very useful and was trying to help (OSS can be time consuming).

See you have most of it figured out. Thanks for your info on Blazor internals.

[2020-01-30 21:03] Tewr commented on #104
@szmalec : `ReadFileMarshalledAsync `is the "official" way of doing things, it is using the public api of blazor. So it's more stable. But files must be translated to a b64string so it's about 30% slower. But thanks for pointing out the workaround.

`ReadFileUnmarshalledAsync` uses some internal API's which, apparently, are more prone to have breaking changes. I'll have to find another way. Reimpl

[2020-02-02 07:57] #104 closed, assigned to Tewr

[2020-02-05 11:17] liuliang-wt opened #106 "does not work in Edge"
the download works in chrome, but not edge. Seems that link.click() has no effect in Edge

[2020-02-05 15:49] Tewr commented on #106
Initializer is failing with nullref

[2020-02-05 21:09] Tewr commented on #106
This is related to publishing and is not reproducible in normal builds... and I'm not sure with "normal" publishing either....

[2020-02-05 21:18] Tewr commented on #106
@liuliang-wt you are talking about the live demo right? cause IMO the live demo is the only thing that is actually broken. I think they added a trailing / afeter the publish directory in the latest release and I didnt notice, so it botched the publish

[2020-02-06 07:35] Tewr commented on #106
Republished, edge is ok

[2020-02-06 07:35] #106 closed, assigned to Tewr

[2020-02-06 07:47] nk111 opened #107 "not able to add a using directive for Blazor.FileReader"
**Describe the bug**
I'm not able to add a using directive for Blazor.FileReader. It seems like there is some namespace pollution due to naming conflicts? I wonder if the namespace for the FileReader should be Tewr.Blazor.FileReader to avoid this?

**To Reproduce**
Steps to reproduce the behavior:
1.  created the solution/project structure like in the screenshot below
2.  added the nuget package T

[2020-02-07 16:00] Tewr commented on #107
I think renaming this library is a bit harsh at this point.

As the error states, the conflict is with how you named your own project, it's not a conflict with any other library, or with Blazor itself.

Did you try the classic .net approach to avoid namespace conflicts? I must say I didn't try this in Blazor / razor but it's pretty fundamental so it should most likely work.

https://stackoverflow.

[2020-02-07 16:10] Tewr commented on #102
I'm closing this as there is no feedback from you. I might create an example in the future, it would look something like the code you posted inside the read loop I guess...

[2020-02-07 16:10] #102 closed, assigned to nobody

[2020-02-08 23:53] CD1010 opened #108 "FileReaderParams error"
I get this error when i tried to update to latest version 1.3.0.20033
Works fine for version 1.2.0.19363
An error occurred while accessing the Microsoft.Extensions.Hosting services. Continuing without the application service provider. Error: Unable to load one or more of the requested types.
Could not load type 'Blazor.FileReader.ReadFileParams' from assembly 'Blazor.FileReader, Version=1.2.0.1936

[2020-02-10 16:25] Tewr commented on #108
This looks complicated. The manual tests as well as integration tests are passing where as this sounds like basic usage. I need more info to reproduce this. Could you maybe create a new project that reproduces your problem and post it in a repo?

That said, you have revealed that the 1.3.0.20033 package contains the wrong assembly version, but I don't think it's relevant

[2020-02-10 21:37] Tewr opened #109 "Assembly version not matching package"
This is a publish error in package 1.3.0.20033

[2020-02-10 21:45] #109 closed, assigned to nobody

[2020-02-11 05:40] Tewr commented on #107
For reference, if anyone runs in to this problem (You could if you named your project xxx.yyy.Blazor), then instead of `@using Blazor.FileReader`, use `@using global::Blazor.FileReader`

[2020-02-11 05:40] #107 closed, assigned to nobody

[2020-02-11 10:35] nk111 commented on #107
Thanks for the heads up @Tewr ! The global:: approach did solve the problem indeed.

[2020-02-17 20:20] Turbo-Thorschten commented on #108
I experienced the same error in use with reflection. The offsets seem to be incorrect. You can reproduce the bug by calling GetTypes() on the Assembly.

[2020-02-17 20:28] Tewr commented on #108
Thanks for the repro.

[2020-02-17 21:13] #108 closed, assigned to nobody

[2020-02-25 00:23] FreeVB opened #112 "Excel page title text is garbled"
If the text of the excel page title H1 is Chinese, it will be garbled, and other text content will also be garbled.

[2020-02-25 02:40] FreeVB commented on #112
Solution: Open the code page and save it after modification, and then close and open it.

[2020-02-25 04:39] Tewr commented on #112
If I understand correctly, you've modified the EPPlusCommon.razor page in the demo project and had an encoding problem? I'm glad you found a solution.

To be clear, anything directly related to .razor files is most likely out of the scope for this project, I refer to the asp.net repo or other resources like stack overflow.

[2020-02-25 17:45] #112 closed, assigned to nobody

[2020-03-03 17:27] Tewr opened #113 "Console.writeline in init proc"

[2020-03-03 20:15] #113 closed, assigned to Tewr

[2020-03-03 21:27] #67 closed, assigned to nobody

[2020-03-06 20:35] Tewr opened #117 "Implement IAsyncDisposable"
Current Stream disposal methods are sync, but the [actual execution is not.](https://github.com/Tewr/BlazorFileReader/blob/6d7f6eea28aba397730af662122c3e1cc53ac276/src/Blazor.FileReader/FileReaderJsInterop.InteropFileStream.cs#L113) So it's a fire-and forget, which can make anyone sad really.

This is a (mildly) breaking change, as the API of OpenFileStream would have to change from Stream to some

[2020-03-12 09:15] tobbi opened #119 "BlazorFileReader crashes since Blazor WebAssembly 3.2 Preview 2"
After updating to Blazor WebAssembly 3.2 Preview 2, I keep getting the following error with Blazor File Reader:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. I used the following code in my Blazor Client Project:
[code]

[code]

**Expected behavior**
No crash :)

**Project type**
CSB

**Environment**
 - Firefox 74.0
 - Blazor.FileReader 1.3.0.20049
 - Version of .net sdk 3.1.200-pr

[2020-03-12 12:55] Tewr commented on #119
This is probably easy to fix. Backwards compatibility will be difficult though.

In the meantime, a quick workaround is to set `UseWasmSharedBuffer` to `false`. Let me know if that works for you.

Edit: setting `UseWasmSharedBuffer` to `false` results in a speed degradation of at least 30%.

[2020-03-12 13:00] tobbi commented on #119
Yes, that worked properly. Thanks!

[2020-03-12 17:26] moneosi commented on #119
After UseWasmSharedBuffer to false it its very slow

[2020-03-12 20:34] Tewr commented on #119
yes it should be at least 30% percent slower. Without shared memory all the file data has to be serialized and encoded, and packed in interop messages. It's a temporary workaround until I can get out a fix.

[2020-03-12 20:41] #117 closed, assigned to nobody

[2020-03-13 09:17] tobbi commented on #119
Thanks, the updated version works fine for me!

I assume this can be closed.

[2020-03-13 09:17] #119 closed, assigned to Tewr

[2020-03-31 15:17] szmalec opened #121 "UseWasmSharedBuffer=true not supported when updated to Blazor WASM 3.2.0 Preview 3"
I use [BlazorFileReader v1.4.0.20072](https://github.com/Tewr/BlazorFileReader/tree/v1.4.0.20072) in Blazor WASM (CSB) app:
[code]
After update to [Blazor WebAssembly 3.2.0 Preview 3](https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-3-release-now-available/) new [exception](https://github.com/Tewr/BlazorFileReader/blob/v1.4.0.20072/src/Blazor.FileReader/SetupExtension.cs#L41)

[2020-03-31 19:46] Tewr commented on #121
They have been renaming dlls, namespaces and classes each release this year. Same problem as #119 probably, just a different rename. Gotta upgrade and debug to see what happened.

[2020-04-01 05:20] Tewr commented on #121
At first glance, looks like the method I'm using is no longer in the class, it has become an extension method, looking at [this](https://github.com/dotnet/aspnetcore/commit/cb293661e118f66c798e9a5d9315408e871fce3d)

[2020-04-01 07:11] Tewr commented on #121
Indeed, using the most explicit method instead works, this will be the fix. I will publish this soon

[2020-04-01 08:37] szmalec commented on #121
Thank you for the patch.
I have only one more question - was an upgrade to [5.0.0-preview.1.20124.5](https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-5-preview-1/) needed [here](https://github.com/Tewr/BlazorFileReader/pull/122/files#diff-d3ad9c6728c6c80040bace4d36fc99c0L11)? [Blazor WebAssembly 3.2.0 Preview 3 release page](https://devblogs.microsoft.com/aspnet/blazor-webassembly

[2020-04-01 16:55] Tewr commented on #121
I had downgrade warnings for the server-side version, so I did a blanket update for all deps to the latest version. That might have been overkill or a misreading of the errors on my part... As now when you ask the question I have some doubts.

Did you run into any particular problem due to this?

[2020-04-01 19:20] szmalec commented on #121
I didn't run into any particular problems because I stopped the update when I saw a message saying that the following packages would be upgraded:
`
Microsoft.AspNetCore.Authorization.3.1.2 -> Microsoft.AspNetCore.Authorization.5.0.0-preview.1.20124.5
Microsoft.AspNetCore.Components.3.1.2 -> Microsoft.AspNetCore.Components.5.0.0-preview.1.20124.5
Microsoft.AspNetCore.Components.Analyzers.3.1.2 -> M

[2020-04-01 19:51] Tewr commented on #121
Well. Im going to have a look into what I actually need, maybe I can reduce the graph even further, because I didn't change deps since the beginning of the blazor project, didn't really Dawn on me before. I'll look into it.

[2020-04-02 08:01] Tewr commented on #121
I decided to downgrade for now. I Must say that the current versioning strategy is confusing ( 3.1.3 vs 5.0.0p1?)

Basically, this library is using only two types that are very simle: `ElementRef` (a glorified integer) and  `IJSRuntime`. There are some indirect references to the underlying implementation of IJSRuntime (the reason for this bug in the first place) but as the references are indirect,

[2020-04-02 08:01] #121 closed, assigned to Tewr

[2020-04-17 21:18] sake402 opened #124 "DragAndDrop doesnt work if dropped on inner HTMLElement"
**Describe the bug**
If the droppable target(span) has inner HTMLElement(img) and file is dropped on inner element(img)
dropReference.EnumerateFilesAsync() is empty. But if dopped on the margin between img and span, it works

**To Reproduce**
[code]
**Expected behavior**
dropReference.EnumerateFilesAsync() shoud not be empty irrespective of where dropped as long as it is dropped on a child of targ

[2020-04-18 13:39] #124 closed, assigned to Tewr

[2020-04-22 10:20] catlan opened #127 "Error logging in case HTMLElement is null"
**Describe the bug**
I just spend more time than I'm willing to admit in public, debugging an issue which I think is easy to make and would like to suggest adding some error logging.

**To Reproduce**
Steps to reproduce the behavior:
1. Page with `<input />`
2. User selects a file
3. Display a loading indicator

My mistake was that the loading indicator did replace the` <input />`.

The `IFileRead

[2020-04-22 21:05] Tewr commented on #127
I approve of this. I think in general that the API is pretty stable so its a good time for this type of features.

[2020-04-26 20:30] #127 closed, assigned to nobody

[2020-05-27 08:13] wangjunjx8868 opened #130 "Are you sure that the code is executed on the client?"
` public async Task ReadFile()
    {
        foreach (var file in await fileReaderService.CreateReference(inputTypeFileElement).EnumerateFilesAsync())
        {
            // Read into buffer and act (uses less memory)
            await using (Stream stream = await file.OpenReadAsync()) {
                // Do (async) stuff with stream...
                await stream.ReadAsync(buffer, ...);

[2020-05-27 12:36] Tewr commented on #130
Hello,

The answer to your two questions is "That depends". But I don't think you are in the right place - both of your questions are general questions about how the Blazor Framework works.

Please read [this](https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view=aspnetcore-3.1) article first and make sure you understand what you are trying to do.

That said, let me answer the qu

[2020-05-28 14:57] erikthysell opened #132 "unexpected behavior for await call in while header when compiling in release mode / with flag optimize=true"
Hi, first, thanks for a nice blazor plugin.
Using Blazor wasm app (NET standard 2.1) and the BlazorFileReader in the following code snippet (shortened, in my app it is divided into a .razor file and a .razor.cs file but shortened and put together here for the sake of simplicity):

[code]

Running this code locally (Ctrl+F5 in visual studio 2019 16.6 preview) reads any text file just fine. But when

[2020-05-29 02:52] arivera12 opened #133 "Demo site load time?"

[2020-05-29 20:13] Tewr commented on #132
hello!

I never got around to/managed reproduce this when I last heard about it, I think its a blazor bug, has something to do with the linker.
Try the solution in #97 in the meantime and see if that works for you. Seems like the exact same problem.

[2020-05-30 04:15] arivera12 opened #134 "Can you move your library to your own namespace?"
Blazor namespace conflicts with many libraries that have nested Blazor as a namespace.

Example MyLib.Blazor conflicts with you library.

Your library should have a parent namespace like `Tewr.Blazor` or `BlazorFileReader` to prevent namespace collision.

I ended doing this cause is looking Blazor on my library instead of yours.

`global::Blazor.FileReader.IFileReaderRef`

[2020-05-30 06:24] Tewr commented on #133
Hello.

Could you be a bit more specific?

[2020-05-30 06:35] Tewr commented on #134
Discussed in #107 .
Its doesnt seem like a widespread problem, I'll take this as a second vote. I'm taking it  into consideration, probably merits a line of documentation. Weighing it against breaking the build of all other package consumers.

[2020-05-30 17:17] arivera12 commented on #133
The demo site takes about 2-3 minutes to load when you navigate to it.

Do you understand now?

[2020-05-30 17:23] arivera12 commented on #134
Your library works on c# regular class file but doesn't work on blazor context take a look of this screenshot.

![image](https://user-images.githubusercontent.com/5600102/83335061-3e1bb580-a278-11ea-8168-f8d712c81013.png)

Form some reason it's confusing OneLine.Blazor with your namespace.

I know this is a breaking change on your library.

But you will still receive this issue again and again unt

[2020-05-30 17:31] arivera12 commented on #134
I tried inherit from a regular c# file into blazor context and still doesn't work.

[2020-05-31 16:28] arivera12 opened #135 "Additive file input example?"
How can I make file input additive? I tried demo with
[code]
But file input doesn't get additive.

I need to drag all files into a single action to add all of them together.

[2020-05-31 16:28] Tewr commented on #133
Might be possible to configure the linker to make it work. It hasn't worked in the past, broke the excel demo and the reflection demo, but I can give it a shot.

[2020-05-31 16:30] arivera12 commented on #133
Don't worry site stills loads this issue has low priority.

[2020-05-31 19:32] Tewr commented on #135
The demo uses an element as a drop target, not an input. If you use an input as a drop target, it uses the native input as storage for the files if I remember correctly. I'm not sure additive AND clickable drop target is supported as it is now. It's not in the demo. Doesn't mean it's not possible though.

[2020-05-31 19:37] Tewr commented on #134
Did you try `@using global::Blazor.FileReader`?

[2020-05-31 19:37] arivera12 commented on #135
This is exactly what I am looking for.

[2020-05-31 19:40] arivera12 commented on #134
I tried it but doesn't work, visual studio still confuses the namespace.

I workaround it returning another datatype compatible with your file reader model and with extra work done under the hood .

PS. You should still consider moving you library to a personal/company namespace.

[2020-05-31 19:51] arivera12 commented on #135
It seems is not supported I tried mixing both drop target and file input and dragging new files replaces the first one once you loaded one using file input click event.

[2020-06-01 19:28] arivera12 commented on #134
This one solid reason for moving you library to a personal/company namespace:

The global:: qualification isn't supported.

Importing components with aliased using statements (for example, @using Foo = Bar) isn't supported.

[Blazor Components](https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.1#import-components)

[2020-06-02 17:06] Tewr commented on #135
I managed to make it work using one reader for drop on the wrapper element, and one for the clicks. Its not very pretty, native support would be better. But it's workable with the current version at least.

[2020-06-02 17:09] Tewr commented on #135
https://github.com/Tewr/BlazorFileReader/blob/AdditiveAndClickableDragNDrop/src/Demo/Blazor.FileReader.Demo.Common/DragnDropCommon.razor

[2020-06-02 17:11] arivera12 commented on #135
I added a button below the drop zone to bypass this issue. but I still needed both readers and manage the collections properly.

[2020-06-02 17:14] Tewr commented on #135
it's only available in the branch in the comment above.

I think it's a feature worth pursuing, but I don't immediately see how I can do it without using two elements... but I might be a bit home blind,  the current code is very focused on using a single element.

[2020-06-02 17:18] arivera12 commented on #135
I manage it using both readers and manage the readers into a single collection and seems to be working properly.

[2020-06-02 17:22] arivera12 commented on #135
You can add a <input type="file"> hidden and add a onclick event on the dropzone which triggers the input file then internally join both readers into a single collection.

[2020-06-02 17:29] Tewr commented on #135
Yea well that's basically what I did right? Or do you mean the library should actually add a hidden wrapper element? I think that adds a lot of complexity not only for the code but also for customizing the dom. I want to leave the dom out of it. My philosophy is to mess with the dom as little as possible and let the library consumers decide what elements to put where.

On the other hand, the examp

[2020-06-02 17:35] arivera12 commented on #135
My suggestion its just a workaround it should as simple of adding additive option to the input file. But not sure how you gonna make this to work cause every time you open a device file system to pick a file it replaces the before picked files. So you need to manage the collection your self to bypass the current behavior.

[2020-06-02 18:53] Tewr commented on #134
Convinced.

[2020-06-03 15:03] EduVencovsky opened #136 "Feature Request: Add Click method to IFileReaderRef"
This is feature request is very simple, just add a method to enable you to programmatically click on the input so it open's the window to choose the files.

I could do this by just calling

    await JSRuntime.InvokeVoidAsync("clickOnElement", Ref);

And creating

    window.clickOnElement = function(el){ if(el) el.click() }

But I think this would be a very good feature for this library to handle

[2020-06-05 09:51] Tewr commented on #132
I can reproduce this consistently. The workaround in #97 is still working.
I'm working on a minimalistic repro project to submit a bug to the blazor team. Seems like a really tricky bug. I'm no longer sure it is related to the linker. The workaround can be implemented side-by side, even in the same class, and there is no problem.

I'm more thinking the Optimization step in release mode. Perhaps so

[2020-06-05 15:37] Tewr commented on #132
Confirmed, it's the optimizer. Problem is still present with linker turned off. Problem is no longer present when optimizer is turn off:
[code]

[2020-06-05 16:57] Tewr commented on #132
I have a full minimal repro example. This is definitely a framework bug in the optimizer, not related to this library.

[2020-06-05 18:43] Tewr commented on #130
I'm closing this, feel free to reopen if my answer wasn't clear.

[2020-06-05 18:43] #130 closed, assigned to nobody

[2020-06-05 21:07] erikthysell commented on #132
Thanks a lot. The workaround is indeed working.

[2020-06-11 14:10] EduVencovsky opened #137 "CancellationToken is never used / checked in ReadAsync"
**Describe the bug**
While calling `ReadAsync` and passing a `CancellationToken`, if you cancel the token, it doesn't stop reading.

**To Reproduce**
Steps to reproduce the behavior:

- Create an  `IFileReference`
- Call `OpenReadAsync`
- Call ReadAsync in a while loop passing a `CancellationToken`
- Cancel the token
- You will see that nothing changes and the while continues to loop

**Expected b

[2020-06-11 18:36] Tewr commented on #137
This has never been implemented. It's mandatory for the stream override though, so indeed, it's there. As the chain contains a single real async call, not particularly useful in this s case. Might be useful for extension methods like CopyToAsync though, and I agree that it's kind of unexpected that it does nothing.

Easy to implent, but I'm not 100% sure where I'd put the throw. Before or after th

[2020-06-11 19:03] EduVencovsky commented on #137
I'm not sure what you mean by "Before or after the Jsinvoke".

Do you mean before/after the call to the `IJSRuntime`?

e.g.
[code]

Or do you mean before/after the function that calls the IJSRuntime functions?
e.g.
On the functions that call `ReadFileMarshalledBase64Async` and `ReadFileUnmarshalledAsync`

----

If it's the first case, I think that ou should throw before `CurrentJSRuntime.InvokeAsy

[2020-06-11 19:18] Tewr commented on #137
Now that I'm on a computer I can see that the all the `JSRuntime.InvokeAsync` has an overload for this.

From the method docs:
[code]

Permits the cancellation of the actual underlying task. Sounds good I think.

[2020-06-11 19:31] Tewr commented on #137
`WebAssemblyJSRuntime.InvokeUnmarshalled` does not handle this though.

[2020-06-11 19:36] EduVencovsky commented on #137
I never used `CancellationToken` before so I'm not sure how that would work, I will study more about it and how it works. But I think this is a nice feature to implement.

[2020-06-13 07:59] jespersh opened #139 "Javascript part allocates the entire file in memory at stream creation"
**Describe the bug**
I'm trying to create a "chunk" stream for `System.Net.Http.StreamContent` without the browser allocating GBs of memory for the entire file. Sending native in browser doesn't have this behavior and testing with a console application neither have this behavior.

The native test:
[code]

**To Reproduce**
Any of these with a multi GB file allocates the entire file into memory:
Usi

[2020-06-13 13:31] Tewr commented on #139
This is a regression introduced in [this commit](https://github.com/Tewr/BlazorFileReader/commit/476d6df82754d1d054e7c0010945a8d37ac56513#diff-fe887cf4d312984ab37d02b991328504). I think I ran a memory analysis and everything, but either I failed to recognize this error, or chrome has changed the way the buffer is allocated.

in any case, a glaring bug, should be easy to fix. Nice catch.

[2020-06-15 07:43] Tewr commented on #139
@jespersh Please let me know if you have the time to test and give feedback on this.
On a 800Mb file I've measured a ~80-100Mb bump in ram usage which I attribute to the slow, single-threaded GC, rather than anything I can do better.

I guess its always possible to do better, this is a tight loop. But one thing is for sure, going away from the model that caused this bug, it's a 500% slow-down. Not

[2020-06-15 08:36] jespersh commented on #139
I'll try to dig a bit into this as soon as I can, but I am wondering if you could reuse the `FileReader` between reads since I already called `OpenRead`, so it can be expected one would keep it alive for some time.

How big are your read chunks? I'd test with ~32KB

[2020-06-16 20:26] Tewr commented on #139
Finally got the time to make some tests.

My experiments show that FileReader instanciation is basically free, no impact what so ever. It's probably cached. Chunk size has a huge impact on speed, and a small impact on ram usage. No matter the chunk size, ram usage is 80-150MB over rest during the process. I`m testing with a 800MB file. Using a chunk size of 82KB -> 16seconds, 330KB -> 5s.

So my c

[2020-06-16 20:26] #139 closed, assigned to Tewr

[2020-06-19 19:15] Tewr commented on #132
This has been corrected in runtime but is not yet released, I'll keep this open until then

[2020-06-19 23:57] waleedcordy opened #141 "Very slow file reading"
I am trying to build a Blazor WASM application, basically it uses your component as a file reader then I would forward the files to a SHA-256 hashing method, the main issue happens whenever I try to read large files > 10mb , it takes about 40 seconds to just read it , do you have any clue about what happens ?

[2020-06-21 07:26] Tewr commented on #141
Hello!

I think the best way is to use a Stopwatch or performance counter to see what's taking long.

That said, SHA-256 is painfully slow on the platform, and has little to do with reading files. If I load a 7mb file into a byte array first, it takes 55ms. The Sha-256 hash of that byte array takes 13 seconds. Using the sequential method, reading the file in chunks, yields about the same result, w

[2020-06-21 20:50] waleedcordy commented on #141
I already tried the stopwatch method once, I even removed the Hashing method to analyse what causes the long time taken , up until now it is not a hashing issue.
55ms !! , this is interesting, what's your configuration for this ?

[2020-06-21 21:28] waleedcordy commented on #141
You are absolutely right , turns out it is my fault with my setup.

[2020-06-22 00:47] #141 closed, assigned to nobody

[2020-06-23 07:00] HankyPanky99 opened #142 "Content-Security-Policy"
**Describe the bug**

I am trying to use the FileReader in a Blazor Server Client App with a content security policy added to the _host.cshtml. I cannot use the filereader (fails when calling CreateReference), even if i set the 'unsafe-eval' tag for the script-src.
Any guidlines how to get around this?

**To Reproduce**
Steps to reproduce the behavior:
1. Add the following tag to the _host.cshtml:

[2020-06-24 04:34] Tewr commented on #142
Hello!

Please edit your question, the code example is missing, I'm guessing it's html, you have to wrap it in a `code` tag.

In any case, looks like something other than eval is not working here, I'm guessing it's the URL.createObjectURL script that's is being blocked. I'd have to test. Eval is might not be needed anymore, there is a "new" api for invoking that I can try.

[2020-06-24 04:55] Tewr commented on #142
When adding unsafe-eval, are you getting the following error before (or after) the 'Unable to initialize FileReaderComponent script' error?

https://stackoverflow.com/questions/28467789/content-security-policy-object-src-blob

[2020-06-24 05:50] Tewr commented on #142
If you can't make it work per the stack overflow solution (allowing URL.createObjectURL for Blob), you can init the script manually like this (you still need eval though):

Add the following in your `<head>` section of `_host`
    `<script src="_content/Tewr.Blazor.FileReader/FileReaderComponent.js"></script>`

[2020-06-24 08:34] HankyPanky99 commented on #142
Sorry for that, I missed some of the code formatting options when I wrote the post so the code dissapeared.

[2020-06-24 11:49] HankyPanky99 commented on #142
If I include 'unsafe-eval' in the policy, it works, but my hopes were to have it working without that line since it feels like it is making the policy weaker. With standard javascript include files, you can add them like:
[code]
and they will work....

[2020-06-24 12:44] Tewr commented on #142
Eval could be avoided completely, but not in the current state of the library. At the cost of a more complex setup, but just in the order of one or two lines for consumers.

 I could to add a setup option for saying "I prefer loading the script myself". Then no eval and no blob needed.

[2020-06-24 16:18] HankyPanky99 commented on #142
OK, I dont think it is that important. I am not so skilled in all these so i listen to you.
But what you are saying is that I need both 'unsafe-eval' and blob: for the script-src?  I have blob for worker-src at the moment but I am npt sure why, haha ;-)..

[2020-06-24 16:37] Tewr commented on #142
For now, if you reference the script as above, you only need eval.

[2020-06-26 11:45] Tewr commented on #137
This feature will be part of next release.

[2020-06-26 11:45] #137 closed, assigned to nobody

[2020-06-26 11:50] Tewr commented on #136
Thank you for the suggestion. I see the use case, but I don't think its a good fit.

[2020-06-26 11:50] #136 closed, assigned to nobody

[2020-06-26 12:02] EduVencovsky commented on #136
Can you explain why? Just so I can understand what are your plans for this library

[2020-06-26 19:52] Tewr commented on #136
I try to keep the API as small as possible while balancing with as many features as possible regarding primarily FileReader and streams. I try to stay away from the DOM. Thus with the exception of file input and generic drop targets cause I don't really feel like I have a choice.

This could possibly be part of the drag and drop example, but as a part of the library it's feels like a stretch. It's

[2020-07-02 20:22] #142 closed, assigned to nobody

[2020-07-16 18:43] Smurf-IV opened #146 "Out Of memory thrown when attemting to open a MemoryStream into an 840MB file"
**Describe the bug**
[code]

**Project type**
Client Side Blazor

**Environment**
 - Browser [Edge]
 - Version of Blazor.FileReader Latest
 - Version of .net sdk 2.1

**Additional context**
Add any other context about the problem here.
Trying to read into 1MB chunks but it never succeeded on the first one for this large file.

[2020-07-16 19:49] Tewr commented on #146
Hello!

"Trying to read into 1MB chunks but it never succeeded on the first one for this large file." - I don't really see what you mean. Was there an error? what are you trying to do?

If you show me your code I might be able to help you.
Indeed, reading in such a large file into memory is apparently problematic, seems like the runtime won't have it. Use chunking instead.

[2020-07-17 06:24] Smurf-IV commented on #146
Apologies, it was a long day for me, and even re-reading I understand your comments. Lets start again.
Scenario with Version `1.6.0.20166`:
- multiple files, each with their own filerReader instance (Stored in `FileSelect`)
- first file of 250Mb is opened via file stream with the intention of sending to the server in 1MB chunks
- spin, spin, spin, All good, dispose of memory and filestream, force

[2020-07-17 06:45] Smurf-IV commented on #146
I removed the buffer value, And i have just noticed that the code "double allocates the filesize" before moving to the next line:
i.e. the `CreateMemoryStreamAsync` allocates twice the file size, and when it then completes, it releases the other half.
![image](https://user-images.githubusercontent.com/2418812/87756810-7f086300-c801-11ea-957e-d210b5a4a6cb.png)
The highlighted lines are either side

[2020-07-17 07:44] Smurf-IV commented on #146
I can now see what you were doing in the code.
Some suggestions, take it or leave them.
- deprecate the following `public Task<MemoryStream> CreateMemoryStreamAsync(int bufferSize)` with a comment stating that MemoryStream returned will be the size of the file
- change the `InnerCreateMemoryStreamAsync` function to:
  - always take the file size
  - remove the `byte[]` allocation
  - remove the wh

[2020-07-17 15:41] Tewr commented on #146
Thanks for the feedback!

My thoughts:

For me "reading the file into memory" implicits that the Memory stream will be the full size of the file. But I also fully agree that the documentation is short and could be more explicit for both methods.

However, deprecation I can't agree with.
There is a big difference between this method and the
CreateMemoryStreamAsync() in ram usage for large files. Ex

[2020-07-17 15:58] Tewr commented on #146
Indeed, I'm not sure why I'm doing this. It's probably the exact same code as in CopyToAsync. But you won't win anything other that pretty code, CopyToAsync does a byte alloc internally..

[2020-07-17 19:35] #134 closed, assigned to nobody

[2020-07-18 14:05] #146 closed, assigned to nobody

[2020-07-18 14:28] Tewr commented on #133
It's slightly faster now. In any case I'm not going to work more on load speed atm

[2020-07-18 14:28] #133 closed, assigned to nobody

[2020-07-20 21:23] Tewr commented on #135
Finally, it came to me in a dream that a javascript `File` reference is valid throughout a session. So the secret is to store it whenever it's available using the change event. The `OpenReadAsync `call creates a Stream that tracks the file reference, this is what the example uses.

One could argue I should maybe track it earlier up the chain, before creating the stream, but then `FileReference `wo

[2020-07-20 21:42] arivera12 commented on #135
I just realize that dropzone was more than enough for me. So I focused on the dropzone instead on the file input. I really don't like the browsers default file input, drop zone its cool. I just wanted to provide both ways but I stick with dropzone as default and only file input component.

[2020-07-20 21:44] arivera12 commented on #135
But adding this feature for others may be cool or needed for them.

[2020-07-21 21:01] #135 closed, assigned to Tewr

[2020-07-23 09:21] Smurf-IV opened #150 "Request: Can you also make this "Write" files via a chunking mechanism ?"
Usage Scenarios:
- Blazor App generates large data set
- Blazor App downloads large file (streams) via chunks (e.g. gRPC streaming call)

Expected:
- User to select target file with provided extension (e.g. `SaveAs` with `*.pdf` set)
- File is created (errors returned etc if not possible) and a writeable stream created
- Data transferred to via byte[] (Or stream.WriteTo)
- Commit / Close called wi

[2020-07-23 09:22] Smurf-IV commented on #150
Call the project BlazorFileWriter or convert this into a joint project that does both sides e.g. BlazorFileHandler

[2020-07-23 19:36] Tewr commented on #150
In essence, the core of this project is a wrapper around the JavaScript FileReader. The FileReader js API is mature and well supported.

I do think this is interesting, and I did consider starting a writer project at one point. And I might.

Writing files in a streaming fashion from a browser is based on hacks or loosely unrelated APIs, mostly depending on technologies that has nothing to do with

[2020-07-24 16:34] elijahlucey opened #151 "Removing from a List<> of uploads always removes the last upload in the list"
This could be a symptom of my own poor design choices, misunderstanding of the library/Blazor/web development, or a bug in external code, so I thought I'd try to rule out the latter by posting here.

I made [a small example project](https://github.com/elijahlucey/BlazorFileListTest) that should run out of the box in VSCode. The Readme in that repo says it all, but I'll paste it here too:

Just a s

[2020-07-24 20:00] Tewr commented on #151
Hello!

As far as I can tell you are using the library correctly.

Try reading this article on list management in blazor, it's probably related: https://docs.microsoft.com/en-us/aspnet/core/blazor/components/?view=aspnetcore-3.1#use-key-to-control-the-preservation-of-elements-and-components

Let me know if that works for you.

[2020-07-25 06:08] Tewr commented on #151
There is a source of confusion here though. It's not really trivial, but storing a FileReference between calls to enumeratefilesasync will lead to unexpected results. If the underlying reference (in your case, the input element) changes, the file reference is no longer valid. I could probably track this and flag the file references as invalid when the underlying collection changes... I'll have to

[2020-07-27 13:50] elijahlucey commented on #151
Thanks for both replies! The first one was indeed the missing piece (I had to add @key, and the problem immediately went away both in the example code as well as my production use case). Always good when the solution is just a handful of characters long.

The second reply also helped me realize I'm never actually using anything in the file reference except for the file info, so I might as well onl

[2020-07-27 13:50] #151 closed, assigned to nobody

[2020-08-13 14:56] EduVencovsky opened #152 "Is it possible to make a div clickable and allow drag and drop?"
In the [drag and drop example](https://tewr.github.io/BlazorFileReader/DragnDrop)  you either have a div with drag and drop or a hidden clickable input with drag and drop.

Is there a way to make a div clickable too?

[2020-08-13 16:19] Tewr commented on #152
Hello! No!

For a clickable element, an input is always necessary. The native file chooser dialog only appears from clicking on an input type=file.

Either as a hidden underlying, or hidden somewhere else and raise the click event on the input during some arbitrary click event.

[2020-08-13 17:13] EduVencovsky commented on #152
@Tewr  Could you be more clear on how this would work ?

The thing is I think I can't do that, because if I do, I will need two `ElementReference`.

I'm not sure how to simulate a clickable div that will click on the input (with js) and also allow drag and drop because of the need to call `RegisterDropEventsAsync` on the div ref, but also have the input's ref, which will need two `ElementReference

[2020-08-13 17:47] EduVencovsky commented on #152
The issue I'm facing here is that I don't want to make everything inside a `div` clickable because of the hidden input all around it, but I also want to make the container div to support drag and drop.

One example of this feature can be found in youtube when you are going to upload a video.

![image](https://user-images.githubusercontent.com/37600269/90168739-eddeca80-dd73-11ea-9898-60161897646a.

[2020-08-13 21:00] Tewr commented on #152
If I would do this, I would create a div as in the first example. Once that works, add two inputs, as in the second example. Manage a common stream reference (or a common list of streams, if you want to support multiple files) using the drop event on the div, and the change event on the inputs. You would call createReference three times, one for the div and one for each input type=file.

An altern

[2020-08-21 16:36] Enfis opened #153 "Seek problem with 64-bit"
Version used:  v2.0.0.20200
File: FileReaderJsInterop.InteropFileStream.cs
Method: public override long Seek (long offset, SeekOrigin origin)

It incorrectly makes an 'int' cast when seeking using SeekOrigin.Current or SeekOrigin.End, loosing the 64-bit long effect of 'position' parameter and throwing a IOException (working with big files over 2 GiB).

Thank you for this great plug-in ;-)

[2020-08-24 16:10] Tewr commented on #153
Thank you for you feedback. The whole method is based on MemoryStream which is completely unreasonable for a pure stream.

[2020-08-29 17:14] #153 closed, assigned to Tewr

[2020-09-03 13:52] SpontaneousDuck opened #156 "Uploading to file on Server-side Blazor"
**Describe the bug**
I am writing a Server side Blazor app and am trying to upload a file to a local file on the server. I can open the `FileStream` successfully and create the file I want to write to. But when calling `CopyToAsync` the code hangs and does not write anything to the file. Both streams are at position=0 and I can see the correct length in the uploaded FileStream when debugging. the

[2020-09-03 20:49] Tewr commented on #156
Well I'd say...
I can't reproduce this in my demo project in debug or release. but if I create a new server-side project project and reference the nuget package... yes there is a timeout. There is some kind of compliation bug. Perhaps the optimizer.

`CopyToAsync` is a method from the framework base class `Stream`. Here is the implementation:

[code]

If you use that code in place of `CopyToAsync`

[2020-09-04 12:43] Tewr commented on #156
Note to self: this is too strange, must be related to the signalR buffersize, in some way I don't understand currently.

[2020-09-04 13:27] SpontaneousDuck commented on #156
Perfect! I replaced my code with the code you recommended and it worked for me perfectly. FYI, I did not do anything to change the SignalR buffer size in my project. Thanks for the help and good work!

[2020-09-04 19:52] Tewr commented on #156
OK so this is confirmed, related to the SignalR buffer size configuration which is mentioned in the readme. `CopyToAsync` poses no problem if the buffer is set like mentioned <a href="https://github.com/Tewr/BlazorFileReader#optional-signalr-configuration-for-large-buffer-sizes">here</a>. However, it's a bit weird that it works with my workaround. That means that `CopyToAsync` has some other imple

[2020-09-04 19:52] #156 closed, assigned to nobody

[2020-09-04 20:02] Tewr commented on #156
I guess I was looking at old code.

The actual code is <a href="https://source.dot.net/#System.Private.CoreLib/Stream.cs,d77b42560e8d3fb2">here</a> and is a lot more complicated than the code above. Difficult to see what the buffersize will be in all cases here. In any case, the evidence show that at some point the buffer size used for the actual transfer will be larger than the one passed to `Cop

[2020-09-07 12:53] LucaCode92 opened #157 "A task was canceled after 60 seconds when Internet connection is slow"
Hey!

I have question about error which I get. I'm trying to send files to my Test application (Blazor Server Side). When Internet connection is good then everything works fine, but when my Internet connection is slow then I get error "A task was canceled" after 60 seconds. Do you have any advice how to solve my problem? :)

Here's error StackTrace:
`A task was canceled.
   at Microsoft.JSInterop.

[2020-09-07 20:03] Tewr commented on #157
Hello.

Post the code you are using to interact with the library. I'm not entirely sure when this happens, but my guess i you could use a cancellationTokenSource and configure the timeout differently.

[2020-09-07 20:41] LucaCode92 commented on #157
I'm not sure it's good way what I'm doing but anyway: I want allow user to add files to the list separately, then after accept form send all to the server one by one.

I hope it will be understandable :D
Code under file input onchange method:

[code]

It's how AdditionalIngredientFile class looks like:

[code]

Then after submit I'm using foreach (SaveFileAsyncc is a function that sends files ):

[2020-09-08 04:14] Tewr commented on #157
I'm assuming you've set up a descent signalR buffer size/max message size as per the readme, as this is an intermittent problem?

I can't test your code atm, but I suspect that you cancellation token you specified does not reach the ReadAsync method. I'm not entirely sure of the implementation on httpclient and StreamContent.

You could try copying to the target stream explicitly and see if that h

[2020-09-08 13:46] LucaCode92 commented on #157
I'm not sure if I understood correctly, but I did something like this:

Found StreamContent.cs source code and prepare class:
[code]

And copy internal static class:
[code]

but effect is still the same - cancel after 60 seconds when Internet connection is slow.
If it's not what you had in mind then please let me know more details :)

[2020-09-08 15:39] Tewr commented on #157
This is exactly what I had in mind actually. Could you just try to replace the two calls to Stream.CopyToAsync with a read and write loop? Like this:

byte[] buffer = new byte[bufferSize];
 int bytesRead;
 while ((bytesRead = await ReadAsync(buffer, 0, buffer.Length, cancellationToken).ConfigureAwait(false)) != 0)
 {
       await destination.WriteAsync(buffer, 0, bytesRead, cancellationToken).Conf

[2020-09-08 17:14] LucaCode92 commented on #157
Could you please let me know which parts of code exactly should I change?

I changed:
[code]
to:
[code]

But still the same :( 60 seconds and task is canceled

[2020-09-08 18:58] Tewr commented on #157
Ok. Guess that was wild goose chase. Buffersize might be relevant. If you debug that method where CopyToAsync is called, what is the buffer size?

Also, did you set MaximumReceiveMessageSize and to what value?

[2020-09-08 19:12] LucaCode92 commented on #157
![obraz](https://user-images.githubusercontent.com/70898515/92517460-f9100380-f216-11ea-8557-6b3f8ddc2de9.png)

![obraz](https://user-images.githubusercontent.com/70898515/92517619-3b394500-f217-11ea-8bc0-03f315748bb9.png)

Application works fine in debug mode when sending files locally. But the problem is through Internet. Of course if I'm using my mobile Internet with good signal then files are

[2020-09-08 20:27] LucaCode92 commented on #157
@Tewr I think I found the 60 seconds limitation:
![obraz](https://user-images.githubusercontent.com/70898515/92523954-8fe1bd80-f221-11ea-9438-37c75761d9e6.png)

Now it's 6 minutes :) but anyway still have some problem with larger files:
![obraz](https://user-images.githubusercontent.com/70898515/92524318-30d07880-f222-11ea-9cdd-e4bd8bd2641c.png)

Any idea? :) I back to standard StreamContent becau

[2020-09-09 04:10] Tewr commented on #157
It's the buffer size that is too large. What you need to accomplish is transfer a chunk of data big as the buffer size during the jsinteropdefault timeout.

But without a custom httpcontent class I'm not sure how to change it. If you had errors implementing it yourself maybe try the PushStreamContent class of web API client 2 (or is that what you did?)

Also some observations: You are setting the

[2020-09-09 11:14] LucaCode92 commented on #157
So if I will use own httpcontent class then how big value for buffer size should I set?

It would be great if you can add it. I don't think that changing default timeout for all js interop is a good idea :)

Error I mentioned - when using own httpcontent class:
[code]

[2020-09-09 15:25] Tewr commented on #157
You should set a buffer size that you know for sure can be transferred in the time of the default timeout. Something like 80KB.

[2020-09-09 16:13] LucaCode92 commented on #157
Ok, it's definitely better :)
So in fact one error left. "Cannot access a disposed object" occurs after almost 2 minutes. Do you know how to avoid that?

[2020-09-11 07:17] Tewr commented on #157
I don't, really. You stack trace looks like as if it's the target stream being disposed at one point.

I gotta get on a computer (I'm on my phone) but there is a second solution that came to me yesterday: an intermediate buffering stream. A custom httpcontent class is way overkill now that we know that the problem is the buffersize passed to ReadAsync

Edit: I don't think the native buffered strea

[2020-09-14 20:17] Tewr opened #158 "ReadFileMarshalledBase64Async is not passed cancellationToken"
arguments ordering wrong

[2020-09-14 20:19] #158 closed, assigned to nobody

[2020-09-14 20:24] Tewr commented on #157
spawned #158

[2020-09-15 10:01] thopdev commented on #152
I have something alike and i just handle the click event on the div and trigger a js function that clicks the invisible file upload button.

[2020-09-19 16:02] LucaCode92 commented on #157
@Tewr nice to know :) I will try to check your changes :)

About disposed object - I decided to use try catch.. in most cases with quite good Internet connection everything works fine.

[2020-09-21 10:56] BrzVlad opened #161 "Large file is is not read correctly when using `UseWasmSharedBuffer`"
**Describe the bug**
Large file is is not read correctly when using `UseWasmSharedBuffer`

**To Reproduce**
1. Clone/download project https://github.com/layomia/WasmProj
2. dotnet run -c Release
3. Open browser to localhost:5001
4. Click "Browse" and select the `Testdata-2018-08-09-15.json` file
5. Wait for data to load (can take a few minutes)
6. Click "Convert text"

**Expected behavior**
Deseri

[2020-09-21 18:36] Tewr commented on #161
Thanks for the bug report! Probably some quirk in the unsupported APIs I rely on.

[2020-09-21 20:24] Tewr commented on #161
~~SHA-256 is OK for this file under SDK 5.0.0-preview.1.20120.5~~
This is unknown atm

[2020-09-21 22:01] serge-wq opened #162 "Uploading very large files"
Hi, I'm using your component to read very large files (>1GB) and upload them to object storage. I am using server-side Blazor. I have configured the hub options `MaximumReceiveMessageSize` to 10Mb but I am using ´IFileReference.OpenReadAsync´ method to read the stream and the stream goes directly to the AmazonS3 transfer utility client. The application takes up to several hours in the uploading pr

[2020-09-22 06:54] Tewr commented on #162
Hello.

Short answer:

You could try to work around this by yourself by using multi-threading: Open multiple parallel file streams: like if you want to read bytes 0-20, read 0-5, 5-10, 10-15, 15-20 in parallel and then stich them back together.

Long answer:
It's meticulous though, and typically that would be something a library like mine should solve.

First of all, my current implementation for

[2020-09-22 08:39] Tewr commented on #161
This has sent me down the compatibility/upgrade hole.  I'm most likely not going to support 5.0.0-preview.8, that's going to be too much of an effort, there are breaking changes in 5.0.0-rc1, which will be my current target.

[2020-09-22 15:40] BrzVlad commented on #161
@Tewr Do you know what exactly is causing this issue ? Is it a regression ? Anything on the runtime side that is not working as expected ?

[2020-09-22 16:12] Tewr commented on #161
The buffer byte[] passed InvokeUnmarshalled is corrupted -- or I won't get the actual referenced buffer back from dotnet. I need to do some more testing before I'm sure, it's a bit hard to debug. But my first impression is that its the "wrong" buffer.

If I copy the entire stream to a `MemoryStream ` first in the same manner, there is no problem. So I'm guessing that the slightly more complicated

[2020-09-22 20:20] Tewr commented on #161
Ok so the problem is not really corruption. I have managed to reproduce this a bit quicker, by simply running the working version quickly after. Basically, after a while (325 calls, to be more exact) the shared memory mechanism stops working.

The correct buffer instance is sent over, I tagged it with some data to read it on the js side. But for some reason, the data that I write (edit: clarificat

[2020-09-22 22:49] BrzVlad commented on #161
From what I understand, C# sends over a buffer to JS, but JS doesn't see the real data in the buffer that was sent over. This would suggest that the GC did its own thing with the buffer, either moved or collected it.

I don't have any experience with the JS interop layer. @kg Do you want to take a look at this and see if you spot anything fishy in the library ? Or maybe we are doing something wron

[2020-09-23 00:17] kg commented on #161
If the native heap grows all your existing typed arrays will become detached, because growing the native heap creates a new bigger array buffer to replace the old one. Any existing typed array instances (i.e. Uint8Array) will become dead. If you're keeping typed array instances alive across calls (like malloc) that can grow the native heap, your code is broken. That's likely the problem here.

Thi

[2020-09-23 00:33] kg commented on #161
I read through the library C# and typescript and didn't see any obvious red flags, but I don't completely understand all of what's going on in there, in part because I have very little experience with JS async programming or blazor. My guess is still that this is breaking due to the native heap growing, which explains why retrying will succeed.

You can see here that when the heap grows, emscripte

[2020-09-23 06:20] Tewr commented on #161
Thanks a lot for the explanation, really helpful!
`StreamReader` uses an exceptionally low buffer size (1024b). This is probably the reason this has not come up before; the low buffer size  puts a high pressure on the heap. Another solution that I'll look into might be to force a minimum buffersize. I have found that the best compromise between speed and memory usage lies around 82kb, but I'll use

[2020-09-23 18:39] serge-wq commented on #162
Alright, I'm going to dig into what you are suggesting. I'm very new working with this kind of stuff. Regarding the feature opt-in or out mode, I can't see very clear what are the different implications for the webassembly devs in contrast to the server-side devs. Although, I like what you are saying about the focus on the end-user control of memory consumption vs speed.

Thanks a lot for taking t

[2020-09-25 05:50] Tewr commented on #161
Minimum buffersize, while working better, doesn't work all the time, so it's not a viable solution. Having read this sentence again

I interpret this as following
My current code creates the typed array, launches the reader, and then waits for the callback on the reader to return, and write the data to the array. The async "pause" breaks my code.

So for correct usage, I should launch the reader,

[2020-09-25 06:18] kg commented on #161
I'm not completely sure what the right solution here is, but if it helps, think of it this way: Any time control transitions from JavaScript to C or C# (wasm), any typed arrays alive at that point are potentially invalid. Once you transition back to JS, you're fine. The async "pause" itself isn't the issue, but almost certainly some C or C# is going to run between the start of the pause and the en

[2020-09-25 16:25] Tewr commented on #161
Ok, during the async pause control goes back to c# which will execute `await taskCompletionSource.Task`.

 What is behind that line is quite complex and that is probably what will trigger the problem. If I allocate the buffer after the pause, there will be no more c# executing before I'm done writing to the buffer so it should be safe. I'll give it a go!

[2020-09-29 20:27] #161 closed, assigned to Tewr

[2020-09-30 18:54] Tewr commented on #157
The default StreamContent class accepts buffersize as an argument. as we were busy looking at timeouts I totally oversaw that, sorry. So no need for a custom httpcontent

You are setting the buffersize here to the size of the file:
`new StreamContent(inputFileTest, (int)inputFileTest.Length)`
thus, try the following instead
[code]

I have committed some changes that should fix most of your problem

[2020-09-30 20:03] Tewr commented on #132
Fixed in Blazor 5rc1

[2020-09-30 20:34] Tewr commented on #162
I have pushed the change in the latest version. MaximumReceiveMessageSize is no longer neccessary to set. This should set you free to be able to use whatever buffersize you want, assuming you have control over the buffersize (this depends on the api of the "AmazonS3 transfer utility client").

basically, the higher the buffer size, you use more ram but transfer is faster. Up to a certain limit of

[2020-10-01 15:50] Tewr commented on #161
@erikthysell can you confirm the latest release resolves your problem?

v2.1 if you're using blazor 3.2 or v3.0 for blazor 5rc1

[2020-10-03 08:50] Banyc opened #165 "Deadlock on Stream.ReadAsync"
**Describe the bug**

`ReadAsync` will hang forever at the second call with the different `offset` and `count`.

**To Reproduce**
Steps to reproduce the behavior:

To run the code below:

[code]

**Expected behavior**

No deadlock or forever-hanging.

**Screenshots**

Unrelated.

**Project type**
**'Server-side'/'SSB'** or **'Client-side'/'CSB'** (or when applicable, specify **'Both SSB/CSB'**)

-

[2020-10-03 09:05] Banyc commented on #165
It seems that the `offset` argument could not be more than `0`.

[2020-10-03 14:47] Tewr commented on #165
@Banyc hello, thank you for the bug report.

This is a regression from the previous version I assume?

[2020-10-03 16:31] Tewr commented on #165
Ok so I have a just few minutes to test this tonight. First of all, your code is incorrect -- that doesn't mean there is a not a bug though.

how is your buffer declared?

I declared it `var buffer = new byte[BufferSize];` and this gives me an error, as we are reading outside of the bounds

I declared it  `var buffer = new byte[fileInfo.Size];`  and no deadlock....

[2020-10-04 03:26] Banyc commented on #165
The buffer size is assigned with a fixed length:

[code]

The full razor component could be found here:

<https://gist.github.com/Banyc/c382440c71301f1f8aa38edc70de0ab9>

The working edition could be found here:

<https://github.com/Banyc/Sharer/blob/5ce5cf7725c59629e82f957b66675c1202e224bf/src/SharerBlazorServer/Pages/Upload.razor>

[2020-10-04 07:08] Tewr commented on #165
Ok so If I understand correcty you are trying to run the following code:

[code]

If you wrap it in a try-catch you will see the following exception when start(offset) = 1024 and end-start(count)=1024:
System.ArgumentException: 'Destination array was not long enough. Check the destination index, length, and the array's lower bounds. '

This is correct, as the `offset` parameter is a reference to t

[2020-10-05 04:09] Banyc commented on #165
Huge thanks! It was me calling the method in the wrong way XD

[2020-10-05 04:09] #165 closed, assigned to Tewr

[2020-10-15 14:15] Tewr opened #166 "[Announcement] Built-in file upload component released"
📰 01.10.2020 Microsoft has finally released a built-in file upload component called [InputFile](https://docs.microsoft.com/en-us/aspnet/core/blazor/file-uploads?view=aspnetcore-5.0). An 1st-party component strongly diminishes this component's raison d'etre, and I strongly recommend all new development to use the built-in component, and current users to migrate. The natural course of action is to s

[2020-10-18 13:38] arivera12 commented on #166
This project should not be deprecated by MS inputFile because it's lacks of features compared to this library and MS have been very lazy implementing this feature since blazor exists. This is like comparing newtonsoft.json vs system.text.json. You know system.text.json lacks of tons of features and other things are not supported by default where newtonsoft.json are already builtin. Also you have a

[2020-10-21 23:29] serge-wq commented on #162
Sorry for the delayed response and thanks for the update.

I removed `MaximumReceiveMessageSize` from the configuration and set the AmazonS3 client buffer to 300MB, which I think would be fine for our server. I've been using `IFileReference.OpenReadAsync` and the async stream it generates to pass it directly to the AS3 client and performance has been lots better. I think the only thing now affecti

[2020-10-22 03:17] Tewr commented on #162
CreateMemoryStreamAsync uses OpenReadAsync and then reads it to the end, so it's the same data. However, not sure if imagemagic supports async-only streams. If imagemagic tries to call Read instead of ReadAsync on the stream, the stream will throw an exception, and that might be the underlying cause for the image format error, even though it sounds a bit odd. Did you not get an inner exception com

[2020-10-22 03:24] Tewr commented on #162
As per this issue https://github.com/dlemstra/Magick.NET/issues/422 might need to tell imagemagic what the file extension is so that the format can be guessed before reading the entire file

[2020-10-22 04:26] serge-wq commented on #162
I did tried that, but even telling ImageMagick which file extension the image was it threw error that the format didn't match. I'm guessing the problem comes from the call to ReadAsync you mention, as I am not aware of async method inside the library. Any how, it was not a big problem for me to use CreateMemoryStreamAsync in this case because they were only a couple of MB in size.

[2020-10-22 14:50] Tewr commented on #162
If the method you are calling in imagemagic is not async, it is indeed highly unlikely that it calls ReadAsync. Then basically CreateMemoryStreamAsync is your only choice in this case.

[2020-10-26 10:36] sven5 commented on #166
I think for projects that must rely/stuck on .NET Core 3.1 there is a need for this particular component. Because the `InputFile` component is contained in .NET 5 only.

[2020-10-26 13:21] arivera12 commented on #166
This is a solid reason to not deprecate this project.

[2020-11-05 10:11] Smurf-IV commented on #166
.Net Core 3.1 is also LTS, so it will be used for a long time in production systems.

[2020-11-09 23:47] OliverPrivate commented on #166
Hi,

This component is great and we've recently tried to use uploaders from SyncFusion for chunked, multiple and para uploads. It's not the best for Blazor even though many of their controls are great. Reason is it's complex to implement and maintain compared with yours and has several bugs.

If you could add chunked, para and some other more advanced features as above, plus progress bar and  I'm

[2020-11-10 00:37] arivera12 commented on #166
@OliverPrivate as far I remember this library offers that out box, you can read any file as stream in chunks also with this option you can implement your own progress bar while reading the files in chunks.

[2020-11-10 00:39] arivera12 commented on #166
@Tewr has already provide awesome examples even using a dropzone/dropbox with drag and drop options, it's fully featured already.

[2020-11-10 00:43] arivera12 commented on #152
@Tewr the short answer I think it's yes but is not straight forward.

He would need to make a div element trigger the input file click event.

I already did this using this library.

[2020-12-08 17:34] Tewr commented on #166
Thank you for your feedback. I'll continue working on this for the time being.

[2020-12-08 17:34] #166 closed, assigned to nobody

[2020-12-15 21:42] serge-wq commented on #162
Hi! To give an update on this issue, everything has been working very well. I think the problem with the images mentioned above is due to ImageMagick.NET not being asynchronous. I am going to close this issue now as I think everything has been solved. Thanks a lot!

[2020-12-15 21:42] #162 closed, assigned to nobody

[2020-12-28 11:52] ThomasSteschulat opened #168 "Outlook Drag and Drop deletes Messages in Outlook ("move" instead of "copy") in Chrome"
Hey Tewr!
There is a bug in chrome that when someone drop a message from outllook (here Outlook 2016) on a droptarget in a browser (here blazor app with tewr.blazorfilereader) the message in outlook is deleted. It will be "moved" instead of "copied".
The bug is documented here:
[chrome outlook drop](https://bugs.chromium.org/p/chromium/issues/detail?id=1066975&q=1066975&can=2)
In Comment 16 someon

[2020-12-28 19:19] ThomasSteschulat commented on #168
Hi @Tewr ,
we have put the dataTransfer.dropEffect = "copy" in the RegisterDropEvent Method and that works for now

      public RegisterDropEvents = (element: HTMLElement, additive: boolean): boolean => {
        this.LogIfNull(element);
        const handler = (ev: DragEvent) => {
            this.PreventDefaultHandler(ev);
            if (ev.target instanceof HTMLElement) {
                let

[2020-12-28 20:37] Tewr commented on #168
I'll have to think about a proper api here, just exposing this as a flag would be oddly specific. But the current API is indeed lacking extension points. I'm thinking some kind of simple plugin structure, I'll have to tinker a bit.

[2020-12-28 20:38] Tewr commented on #157
I'm closing this as it's been two months without feedback. Feel free to reopen or create a new issue if youre still having issues.

[2020-12-28 20:38] #157 closed, assigned to nobody

[2020-12-28 21:32] ThomasSteschulat commented on #168
Great!
I think that setting "copy" as Standard makes sense. There may be only a few situations where "move" makes sense. But first of all... its a bug in chrome :-)

And btw... great Work!

[2021-01-01 21:50] Tewr commented on #168
So I've tinkered a bit in this [branch](https://github.com/Tewr/BlazorFileReader/tree/DropEventsPluginApi)/PR #170. There is a small "expert" api where you can plug in your own javascript method or snippet in the event handlers. Also I wrote an extension method that adresses your specific need using that API.

You would set it up using the extension method like this (for context, see [here](https:

[2021-01-05 09:40] noumanqaiser opened #171 "No Files fetched by EnumerateFilesAsync()"
**Describe the bug**
I was trying to use BlazorFileReader in a Blazor Server App. I used the code provided in the example. No matter what type or size of file I select, the function EnumerateFilesAsync() yeilds no files.

**To Reproduce**
Steps to reproduce the behavior:
As explained above. The following is the debugging view of the files object:
![image](https://user-images.githubusercontent.com/

[2021-01-05 21:08] Tewr commented on #171
Hello, thank you for your feedback.

Unfortunately I do not have enough info to help you. Your are describing the most basic usage scenario, which is working well for me and many other package consumers. Try to post some more source code and try to boil it down to the most simple example possible. Include all relevant lines such as using statements and your input element, and I might be able to fi

[2021-01-06 07:12] noumanqaiser commented on #171
@Tewr  Thanks for your reply and Happy new Year.

I was able to find out what was causing the issue. In my application I have a table that would allow users to upload specific files for the app. Each row has its own upload button and it seems multiple rows cannot share the same InputElement(and thats how it should be ideally). If multiple rows in a table share same inputElement, the EnumerateFiles

[2021-01-06 12:42] Tewr commented on #171
I'm glad you found the solution!

Sound odd that the standard component would be slower than mine as normally it trades in the server ram for speed. Mine can normally accomplish the same behavior by setting the buffer size to the file size. On the other hand, it's not the exact same multithreading strategy used, maybe mine has some unexpected advantage. In any case, good news I guess.

I'm closing

[2021-01-06 12:42] #171 closed, assigned to nobody

[2021-03-01 21:02] #168 closed, assigned to Tewr

[2021-03-13 03:31] zeidoo opened #172 "Indexes and Removing Files after selection"
Hi,

Wanted to thank you for this control. It's of great use.

I'm not sure if there's a way to do these already, but here goes.

I'm using Server Side Blazor without MVC. I would like to compute the SHA256 hash of the files on the client side so that the files don't go the server. Because I'm using server side Blazor, I've written a small JS function that uses CryptoJS to compute the hash like th

[2021-03-13 07:35] Tewr commented on #172
First question: no, there is no supported way of interacting with file instances "outside" of the library in javascript. It's an interesting use case, but probably not something a lot of people will use. Still, I will consider it for a future release.

[2021-03-13 07:45] Tewr commented on #172
As for your second question, the code in the example here:
https://github.com/Tewr/BlazorFileReader/blob/master/src/Demo/Blazor.FileReader.Demo.Common/DragnDropInputCommon.razor

answers your question about managing removal etc.

The "trick" is to open a file stream directly when the user drops a file. This will create/save a reference to the file in javascript, so you no longer depend on the inde

[2021-03-13 07:50] Tewr opened #173 "Invoke custom javascript referencing a File"
Let library consumers somehow access a js File instance in a custom javascript method. From #172

[2021-03-16 08:59] Smurf-IV opened #174 "Page fails to open when used within a WebView2 (Photino) project"
**Describe the bug**
On page load I get the following, which then prevent the page from loading
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Projects load correctly
2. Click on on a Navbar which should then open a page for uploading
3. Paged Does not open
4. See error

**Expected behavior**
The App works as expected when the shared razor files are used in the CSB which is then clie

[2021-03-16 11:19] Tewr commented on #174
Looks like a problem with platform detection. On the other hand, I doubt that `System.Diagnostics.Trace.TraceWarning` is causing your problem. it should not stop your project from running or there is a serious design flaw. Probably just a symptom. Something else is at a miss, still probably related to platform detection.

Could you upload a repro project? I'm not familiar with Photino. I'm guessin

[2021-03-16 13:41] Smurf-IV commented on #174
Agreed about the TraceLines (See below)
It does not stop any other function ality, just the display of the page that has the usage of the IFileReader etc.
Correct library.

Note: Photino.Blazor has a problem with Console and Debug Writelines being captured either in VisStuidioo, or the "F12" equivalent, so I do not see any other output

[2021-03-18 11:32] Tewr commented on #174
I get a page load, the page loads fine. As you didn't post any code, I don't know what you did wrong. However there are some other issues. The JSRuntime used here is apparently [`Photino.Blazor.DesktopJSRuntime`](https://github.com/tryphotino/photino.Blazor/blob/master/Photino.Blazor/DesktopJSRuntime.cs). It does not deserialize `ElementReference` into an element instance -- I could not immediatel

[2021-03-20 15:05] zeidoo commented on #172
Hey, thank you for your replies.

Opening up the stream did seem to work, but I have to play around a bit more to see if everything is okay.

As for obtaining js object references the following seemed to work for my use case:

[code]

Then the jsFile var can be passed around to another js function from a  completely different part of my C# code (in my case, a Fluxor effect)

[code]

I think I have

[2021-03-20 19:49] Tewr commented on #172
I'd recommend passing around the `Stream` from `OpenRead` instead. It is mapped to a javascript `File`, which will be released when you dispose the Stream. It is indexed by the private field `fileRef`, and the references are in `FileReaderComponent.fileStreams`. It's a little bit less fragile. You would still have to use reflection to get the private field though, so you're still in for possible b

[2021-04-08 15:35] njannink opened #175 "Support for URL.createObjectUrl(file)"
When using the BlazorFileReader in combination with eg a image preview component you would like to have support for `URL.createObjectURL`, because big images eg a high res image from your phone cant be read as a base64 string.

See: https://developer.mozilla.org/en-US/docs/Web/API/URL/createObjectURL

I would be nice if on the api of `IFileReference` you will have a call `CreateObjectURL`

[2021-05-26 19:47] Tewr commented on #77
Closing this as the discussion is not very livid

[2021-05-26 19:47] #77 closed, assigned to nobody

[2021-06-07 20:56] #132 closed, assigned to nobody

[2021-06-08 17:24] Tewr commented on #175
available in release 3.1

[2021-06-08 17:24] #175 closed, assigned to nobody

[2021-06-08 19:31] Tewr commented on #173
Available in release 3.1

[2021-06-08 19:31] #173 closed, assigned to Tewr

[2021-06-08 19:31] #172 closed, assigned to nobody

[2021-06-08 19:32] Tewr commented on #172
Closing in favour of #173

[2021-06-23 08:09] Tewr commented on #174
I'm closing this, feel free to reopen if theres anything to add to the discussion

[2021-06-23 08:09] #174 closed, assigned to nobody

[2021-06-23 08:10] Tewr commented on #150
I'm closing this for now, feel free to reopen if there is anything to add to the discussion

[2021-06-23 08:10] #150 closed, assigned to nobody

[2021-07-20 10:03] markjerz opened #179 "Is it possible to access the files property of event.clipboardData in paste event?"
Hi,

Having read through the code, I think the current answer to this is "no". It looks like the FileReaderComponent can only access the files property on a file input or any DataTransfer objects captured during drag and drop.

I don't think there's any way of hacking around the current release to make it work?

It should be fairly quick to implement the solution in a similar way to the drag and d

[2021-07-21 05:14] Tewr commented on #179
Sounds great. To be honest I was fully unaware to this API. There's a plugin API to modify the drag and drop events but having looked at your PR, this being a separate event, I'd agree your implementation is the way to go.

[2021-07-25 12:25] Tewr commented on #179
implemented in #180

[2021-07-25 12:25] #179 closed, assigned to nobody

[2021-08-31 08:08] ValeraBRZ opened #181 "failed to load source map"
failed to load source map: Could not load content for https://****/FileReaderComponent.js.map:
 HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE

 Tewr.Blazor.FileReader Version 3.0.0.20340

 Server-Side Blazor: in Startup.cs is only  services.AddFileReaderService();

[2021-08-31 10:28] Tewr commented on #181
Hello, thank you for your feedback. I've noticed this minor issue before, kind of slipped through -- there are multiple issues:

The error is here:
https://github.com/Tewr/BlazorFileReader/blob/6c2f0ef3884d5e303092debaf4898d06dde3f2a0/src/Blazor.FileReader/wwwroot/FileReaderComponent.js#L377

- This references a file which is not there, correct path is missing in reference
- If the file would be c

[2021-08-31 11:19] ValeraBRZ commented on #181
Thank you very much. I better wait until the next release, where the bug is fixed.
Regards,
Valera

[2021-10-13 06:47] ayinesk opened #182 "ReadFileInfoAsync() can't read file size properly for large files"
I'm working on file uploading using BlazorFileReader and I need to test uploading file larger than 500 MB.

I've created the test file using this command:
    **fsutil file createnew D:\File500.ocx.xz 525336576**

File properties:
![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/23136743/137080112-c1a2235d-61b8-48b0-bc51-def6be2bfe78.png)

File size is 501 MB

Then I tried to

[2021-10-13 12:32] Tewr commented on #182
Hello. This seems odd.

The size is not calculated or anything, comes straight out of the native property size here:
https://github.com/Tewr/BlazorFileReader/blob/6c2f0ef3884d5e303092debaf4898d06dde3f2a0/src/Blazor.FileReader/script/FileReaderComponent.ts#L92-L98

So the possible sources of this errors I could think of are (in my orderof probablilty):
1) Something with your environment
2) Browser

[2021-10-13 12:40] Tewr commented on #182
I tried your command and used the live demo on https://tewr.github.io/BlazorFileReader/ to try it
![image](https://user-images.githubusercontent.com/2945607/137134416-94c768fe-3524-4e6b-bd30-b17d0dfc8fd4.png)

![image](https://user-images.githubusercontent.com/2945607/137133741-f8120bfb-49d4-4a79-9b8e-399c98cea2d4.png)

Works as expected as least on WebAssembly. Could you try the online demo as we

[2021-11-09 03:17] jerryhonda opened #183 ".Net 6 compatibility"
tried the demo code with .Net 6,
But the buffer from stream.ReadAsync are all byte 0, but the file length is correct.

[2021-11-10 13:16] kamilfras commented on #183
Hi, @Tewr I have the same problem. When are u planning to fix this issue ? If not in the few next days i should concider use other library xD

[2021-11-10 14:09] Tewr commented on #183
Hello,
I'm clearly lagging in .net6 support, the changes to the underlying components being used is quite radical. Even though the fix might be relatively easy as there are now framework primitives for streaming (https://docs.microsoft.com/en-us/dotnet/api/microsoft.jsinterop.ijsstreamreference?view=dotnet-plat-ext-6.0) , I can't pronouce myself on any planning on a .net6 compatible release.

Pull

[2021-11-10 15:09] kamilfras commented on #183
Thank you for the answer 👍

[2021-12-14 21:46] #183 closed, assigned to nobody

[2021-12-14 21:49] Tewr commented on #181
//# sourceMappingURL=FileReaderComponent.js.map was removed in this build

[2021-12-14 21:49] #181 closed, assigned to nobody

[2021-12-17 20:32] HelvioMarkman opened #185 "Fail after move to iis"
I am using to send pictures from Blazor Wasm Client to a Database. It works really well when is running in the project with multiple projects execution, but when I moved to IIS start to have Cors error.
The cors police:
options.AddPolicy(name: MyAllowSpecificOrigins,
                                  builder =>
                                  {
                                      builder

[2021-12-17 21:05] Tewr commented on #185
Hello. This does not sound related to this component. Try StackOverflow for help.

That said, If you are getting a CORS error when using HttpClient when trying to send the image, the correct CORS configuration needs to be on the receiving side. Don't hesitate provide (a lot) more code on both client and server side, and any error you get in the network tab, the info you have provided, is at least

[2021-12-17 21:05] #185 closed, assigned to nobody

[2021-12-23 08:06] Tewr commented on #182
Closing this. Feel free to reopen if you have any new info.

[2021-12-23 08:06] #182 closed, assigned to nobody

[2021-12-26 08:24] catlan opened #186 "net6.0: UseWasmSharedBuffer=true is not supported on this platform"
**Describe the bug**
When updating an existing project to net6.0 / ASP Core 6.0.1 I get this error in the console:

[code]

Is this a bug or expected for net6.0?

**Project type**
**'Client-side'/'CSB'**

**Environment**
 - Browser [e.g. chrome, safari]: both
 - Version of Blazor.FileReader: v3.3.0.21348
 - Version of .net sdk: net6.0 / ASP Core 6.0.1

[2021-12-26 20:40] Tewr commented on #186
Clearly unexpected, i didn't see anything like this in my tests.
IJSUnmarshalledRuntime is not supposed to be used under .net6.

Is this a debug or release build?

[2021-12-26 20:46] Tewr commented on #186
I've read the code, my .net6 test setup is clearly flawed. I'll try to fix this asap

[2021-12-26 21:07] catlan commented on #186
Thx for the fast reply! It's a debug build.

[2021-12-26 22:22] Tewr commented on #186
fixed in release v3.3.1.21360. Thanks for your help!

[2021-12-26 22:22] #186 closed, assigned to nobody